<div class="mobifone-contact pr">
    <div class="container">
        <div class="box-contact flex-lc">
            <div class="map"><img src="./assets/img/map.png" alt=""></div>
            <div class="content">
                <div class="header">
                    <h2 class="title">Liên hệ HỢP TÁC</h2>
                    <p>Chúng tôi sẽ phản hồi lại trong thời gian sớm nhất</p>
                </div>
                <form action="" method="" class="form">
                    <div class="form-row">
                        <div class="form-group">
                            <input type="text" name="" placeholder="Họ và tên*" required>
                        </div>
                        <div class="form-group">
                            <input type="number" name="" placeholder="Số điện thoại*" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="" placeholder="Email*" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea placeholder="Nội dung"></textarea>
                    </div>
                    <div class="flex-lc mt-4">
                        <button type="submit" class="btn-pr"><span>GỬI NGAY</span></button>
                        <div class="envio_cv ml-2"><img src="./assets/img/envio_cv.gif" alt=""></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>