<header>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button"><span class="navbar-toggler-icon"></span></button>
        <div class="box-logo">
            <a href="/mobifone/build/home" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <span>Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone</span>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav flex">
                <li><a href="/mobifone/build/home" title="Trang chủ">Trang chủ</a></li>
                <li><a href="/mobifone/build/gioi-thieu" title="Giới thiệu">Giới thiệu</a></li>
                <li><a href="/mobifone/build/san-pham" title="Sản phẩm & Dịch vụ">Sản phẩm & Dịch vụ</a></li>
                <li><a href="/mobifone/build/tuyen-dung" title="Tuyển dụng">Tuyển dụng</a></li>
                <li><a href="/mobifone/build/tin-tuc" title="Tin tức">Tin tức</a></li>
                <li><a href="/khao-sat.html" title="Khảo sát">Khảo sát</a></li>
                <li><a href="" title="Đăng nhập">Xin chao thuclfc</a></li>
            </ul>
            <a href="tel:(+84-24) 3783 1800" class="phone flex-lc">(+84-24) 3783 1800</a>
            <form action="" method="" class="form-search pr">
                <button type="button" class="btn-search"></button>
                <input type="text" name="" placeholder="Tìm kiếm">
            </form>
        </div>
    </nav>
</header>
