<main>
    <div class="banner pr">
        <div class="banner__video">
            <video class="video-vh" muted autoplay loop>
                <source src="./assets/img/mov_bbb.mp4" type="video/mp4">
            </video>
        </div>
        <div class="banner__content">
            <div class="container">
                <div class="content">
                    <h1>TRUNG TÂM ĐO KIỂM VÀ <br> SỬA CHỮA THIẾT BỊ VIỄN THÔNG <span>MOBIFONE</span></h1>
                    <a href="" title="" class="btn-pr"><span>XEM THÊM</span></a>
                    <button type="button" class="btn-video">
                        <i class="icon icon-video"></i>
                        <span class="txt-xs">Dừng video</span>
                    </button>
                    <a href="" title="" class="btn-survey flex-lc"><i class="icon icon-survey"></i><span class="fw-b">Khảo sát</span></a>
                    <button type="button" class="btn-scroll"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="operation pr">
        <div class="container">
            <div class="header text-center">
                <h2 class="title">LĨNH VỰC <span>HOẠT ĐỘNG</span></h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <ul class="tab nav flex">
                <li class="tab-active">
                    <a href="#suachua" data-toggle="tab" class="active">
                        <span class="icon js-animation zoomin"><img src="./assets/img/icon-f1-1.svg" alt=""></span>
                        <span class="name">Sửa chữa <br> thiết bị viễn thông</span>
                    </a>
                </li>
                <li>
                    <a href="#dokiem" data-toggle="tab">
                        <span class="icon js-animation zoomin"><img src="./assets/img/icon-f1-2.svg" alt=""></span>
                        <span class="name">Đo kiểm <br> và tối ưu</span>
                    </a>
                </li>
                <li>
                    <a href="#sanxuat" data-toggle="tab">
                        <span class="icon js-animation zoomin"><img src="./assets/img/icon-f1-3.svg" alt=""></span>
                        <span class="name">Sản xuất <br> thiết bị viễn thông</span>
                    </a>
                </li>
                <li>
                    <a href="#kiemdinh" data-toggle="tab">
                        <span class="icon js-animation zoomin"><img src="./assets/img/icon-f1-4.svg" alt=""></span>
                        <span class="name">Kiểm định <br> Trạm gốc</span>
                    </a>
                </li>
                <li>
                    <a href="#congnghe" data-toggle="tab">
                        <span class="icon js-animation zoomin"><img src="./assets/img/icon-f1-5.svg" alt=""></span>
                        <span class="name">Công nghệ <br> thông tin</span>
                    </a>
                </li>
                <li>
                    <a href="#khac" data-toggle="tab">
                        <span class="icon js-animation zoomin"><img src="./assets/img/icon-f1-6.svg" alt=""></span>
                        <span class="name">khác</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content bg-gr">
                <div id="suachua" class="tab-pane fade show active">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img-wrapper"><img src="./assets/img/img-f1.jpg" alt=""></div>
                        </div>
                        <div class="col-md-6">
                            <div class="content">
                                <h3 class="txt-xl fw-b">Sửa chữa thiết bị viễn thông</h3>
                                <p class="txt-lg">Tự hào là doanh nghiệp đi đầu cung cấp dịch vụ thông tin di động tại Việt Nam, MobiFone liên tục được bình chọn là thương hiệu được khách hàng yêu thích trong nhiều năm, là một trong ba mạng di động lớn nhất cả nước và hiện đang mở rộng kinh doanh trên nhiều lĩnh vực mới: Viễn thông & CNTT – Truyền hình – Phân phối & Bán lẻ – Đa phương tiện & Dịch vụ Giá trị gia tăng, hứa hẹn nhiều đột phá và thành công.</p>
                                <a href=""><img src="./assets/img/logo.svg" class="logo" width="127" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="dokiem" class="tab-pane fade"></div>
                <div id="sanxuat" class="tab-pane fade"></div>
                <div id="kiemdinh" class="tab-pane fade"></div>
                <div id="congnghe" class="tab-pane fade"></div>
                <div id="khac" class="tab-pane fade"></div>
            </div>
        </div>
    </div>
    <div class="service pr">
        <div class="container">
            <div class="header text-center">
                <h2 class="title">DỊCH <span>VỤ</span></h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="service-list">
                <div class="item js-animation fadeup">
                    <div class="flex justify-content-between">
                        <div class="img-mask"><img src="./assets/img/mask-d.png" alt=""></div>
                        <div class="number fw-b">01.</div>
                    </div>
                    <div class="flex-lc">
                        <h3 class="txt-lg fw-b">Đo kiểm và tối ưu</h3>
                        <div class="icon"><img src="./assets/img/icon-f2-1.png" alt=""></div>
                    </div>
                    <div class="des">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                    <a href="" title="xem thêm" class="view-more txt-lg fw-b">xem thêm</a>
                </div>
                <div class="item js-animation fadeup">
                    <div class="flex justify-content-between">
                        <div class="img-mask"><img src="./assets/img/mask-2.png" alt=""></div>
                        <div class="number fw-b">02.</div>
                    </div>
                    <div class="flex-lc">
                        <h3 class="txt-lg fw-b">SỮA CHỮA THIẾT BỊ VIỄN THÔNG</h3>
                        <div class="icon"><img src="./assets/img/icon-f2-2.png" alt=""></div>
                    </div>
                    <div class="des">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                    <a href="" title="xem thêm" class="view-more txt-lg fw-b">xem thêm</a>
                </div>
                <div class="item js-animation fadeup">
                    <div class="flex justify-content-between">
                        <div class="img-mask"><img src="./assets/img/mask-s1.png" alt=""></div>
                        <div class="number fw-b">03.</div>
                    </div>
                    <div class="flex-lc">
                        <h3 class="txt-lg fw-b">SẢN XUẤT THIẾT BỊ VIỄN THÔNG</h3>
                        <div class="icon"><img src="./assets/img/icon-f2-3.png" alt=""></div>
                    </div>
                    <div class="des">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                    <a href="" title="xem thêm" class="view-more txt-lg fw-b">xem thêm</a>
                </div>
                <div class="item js-animation fadeup">
                    <div class="flex justify-content-between">
                        <div class="img-mask"><img src="./assets/img/mask-k.png" alt=""></div>
                        <div class="number fw-b">04.</div>
                    </div>
                    <div class="flex-lc">
                        <h3 class="txt-lg fw-b">KIỂM ĐỊNH TRẠM GỐC</h3>
                        <div class="icon"><img src="./assets/img/icon-f2-4.png" alt=""></div>
                    </div>
                    <div class="des">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                    <a href="" title="xem thêm" class="view-more txt-lg fw-b">xem thêm</a>
                </div>
                <div class="item js-animation fadeup">
                    <div class="flex justify-content-between">
                        <div class="img-mask"><img src="./assets/img/mask-c.png" alt=""></div>
                        <div class="number fw-b">05.</div>
                    </div>
                    <div class="flex-lc">
                        <h3 class="txt-lg fw-b">CÔNG NGHỆ THÔNG TIN</h3>
                        <div class="icon"><img src="./assets/img/icon-f2-4.png" alt=""></div>
                    </div>
                    <div class="des">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                    <a href="" title="xem thêm" class="view-more txt-lg fw-b">xem thêm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="container">
            <div class="header text-center">
                <h2 class="title">SẢN <span>PHẨM</span></h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="product-list js-animation fadeup">
                <div class="item">
                    <div class="accordion">
                        <div class="item active">
                            <div class="item__header">
                                <h3 class="txt-xl">WIFI 5G</h3>
                            </div>
                            <div class="item__content">
                                <div class="inside txt-lg">
                                    <p>Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone. Chính thức thành lập từ năm 2014, trải qua gần 01 thập kỷ hoạt động, Trung tâm trở thành một trong những đơn vị kỹ thuật cốt lõi của MObiFone góp phần đảm bảo chất lượng mạng MobiFone để đưa tới những trải nghiệm tốt nhất cho khách hàng. Với tôn chỉ, lấy sự hài lòng của khách hàng làm thước đo, chúng tôi đang nỗ lực không ngừng để nâng cấp sản phẩm và dịch vụ bắt kịp bước chuyển mình của xã hội thời kỳ Chuyển đổi số, phấn đấu góp phần đưa MobiFone trở thành nhà cung cấp hạ tầng và dịch vụ số hàng đầu Việt Nam.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__header">
                                <h3 class="txt-xl">Tủ nguồn Outdoor</h3>
                            </div>
                            <div class="item__content">
                                <div class="inside txt-lg">

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__header">
                                <h3 class="txt-xl">Smartsite IoT</h3>
                            </div>
                            <div class="item__content">
                                <div class="inside txt-lg">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="img-wrapper"><img src="./assets/img/img-f2.jpg" alt=""></div>
                </div>
                <div class="item">
                    <div class="accordion">
                        <div class="item active">
                            <div class="item__header">
                                <h3 class="txt-xl">WIFI 5G</h3>
                            </div>
                            <div class="item__content">
                                <div class="inside txt-lg">
                                    <p>Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone. Chính thức thành lập từ năm 2014, trải qua gần 01 thập kỷ hoạt động, Trung tâm trở thành một trong những đơn vị kỹ thuật cốt lõi của MObiFone góp phần đảm bảo chất lượng mạng MobiFone để đưa tới những trải nghiệm tốt nhất cho khách hàng. Với tôn chỉ, lấy sự hài lòng của khách hàng làm thước đo, chúng tôi đang nỗ lực không ngừng để nâng cấp sản phẩm và dịch vụ bắt kịp bước chuyển mình của xã hội thời kỳ Chuyển đổi số, phấn đấu góp phần đưa MobiFone trở thành nhà cung cấp hạ tầng và dịch vụ số hàng đầu Việt Nam.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__header">
                                <h3 class="txt-xl">Tủ nguồn Outdoor</h3>
                            </div>
                            <div class="item__content">
                                <div class="inside txt-lg">

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__header">
                                <h3 class="txt-xl">Smartsite IoT</h3>
                            </div>
                            <div class="item__content">
                                <div class="inside txt-lg">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="img-wrapper"><img src="./assets/img/img-f2.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="header text-center">
            <h2 class="title">TIN TỨC <span>NỔI BẬT</span></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="box-view flex">
            <a href="" class="view-all flex-lc fw-b txt-md"><span>Xem toàn bộ tin tức</span><i class="icon icon-arrow"></i></a>
        </div>
        <div class="news-list js-animation fadeup">
            <div class="item">
                <a href="" class="thumb"><img src="./assets/img/img-new1.jpg" alt=""></a>
                <div class="content">
                    <div class="time">Thứ 6 ngày 18 tháng 11 năm 2023</div>
                    <h3 class="txt-lg fw-b"><a href="" title="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h3>
                    <p>Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone. Chính thức thành lập từ năm 2014, trải qua gần 01 thập kỷ hoạt động, Trung tâm trở thành một trong những đơn vị kỹ thuật cốt lõi của MObiFone...</p>
                </div>
            </div>
            <div class="item">
                <a href="" class="thumb"><img src="./assets/img/img-new2.jpg" alt=""></a>
                <div class="content">
                    <div class="time">Thứ 6 ngày 18 tháng 11 năm 2023</div>
                    <h3 class="txt-lg fw-b"><a href="" title="">Lorem Ipsum is simply dummy text of the.</a></h3>
                    <p>Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone. Chính thức thành lập từ năm 2014, trải qua gần 01 thập kỷ hoạt động, Trung tâm trở thành một trong những đơn vị kỹ thuật cốt lõi của MObiFone...</p>
                </div>
            </div>
            <div class="item">
                <a href="" class="thumb"><img src="./assets/img/img-new1.jpg" alt=""></a>
                <div class="content">
                    <div class="time">Thứ 6 ngày 18 tháng 11 năm 2023</div>
                    <h3 class="txt-lg fw-b"><a href="" title="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h3>
                    <p>Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone. Chính thức thành lập từ năm 2014, trải qua gần 01 thập kỷ hoạt động, Trung tâm trở thành một trong những đơn vị kỹ thuật cốt lõi của MObiFone...</p>
                </div>
            </div>
            <div class="item">
                <a href="" class="thumb"><img src="./assets/img/img-new1.jpg" alt=""></a>
                <div class="content">
                    <div class="time">Thứ 6 ngày 18 tháng 11 năm 2023</div>
                    <h3 class="txt-lg fw-b"><a href="" title="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h3>
                    <p>Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone. Chính thức thành lập từ năm 2014, trải qua gần 01 thập kỷ hoạt động, Trung tâm trở thành một trong những đơn vị kỹ thuật cốt lõi của MObiFone...</p>
                </div>
            </div>
        </div>
        <div class="nav-news flex-lc">
            <span class="pagingInfo"></span>
            <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="slider__label sr-only"></span>
            </div>
            <button type="button" class="btn-prev"></button>
            <button type="button" class="btn-next"></button>
        </div>
    </div>
    <div class="career">
        <div class="container">
            <div class="header text-center">
                <h2 class="title">CƠ HỘI <span>NGHỀ NGHIỆP</span></h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="career-list">
                <div class="item bd-gr js-animation fadeup">
                    <div class="img-thumb"><img src="./assets/img/img-nn-1.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-xl fw-b">cHUYÊN VIÊN ABC</h3>
                        <div class="address flex mb-1">
                            <i class="icon icon-address"></i>Hà Nội
                        </div>
                        <ul class="info-list">
                            <li>Số lượng: 03 Ứng viên</li>
                            <li>Mức lương: 10.000.000 đồng/tháng trở lên</li>
                            <li>Thời hạn ứng tuyển: 01/01/2024</li>
                        </ul>
                        <a href="" title="" class="view-more"><span>TÌM HIỂU THÊM</span></a>
                    </div>
                </div>
                <div class="item bd-gr js-animation fadeup">
                    <div class="img-thumb"><img src="./assets/img/img-nn-2.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-xl fw-b">cHUYÊN VIÊN ABC</h3>
                        <div class="address flex mb-1">
                            <i class="icon icon-address"></i>Hà Nội
                        </div>
                        <ul class="info-list">
                            <li>Số lượng: 03 Ứng viên</li>
                            <li>Mức lương: 10.000.000 đồng/tháng trở lên</li>
                            <li>Thời hạn ứng tuyển: 01/01/2024</li>
                        </ul>
                        <a href="" title="" class="view-more"><span>TÌM HIỂU THÊM</span></a>
                    </div>
                </div>
                <div class="item bd-gr js-animation fadeup">
                    <div class="img-thumb"><img src="./assets/img/img-nn-3.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-xl fw-b">cHUYÊN VIÊN ABC</h3>
                        <div class="address flex mb-1">
                            <i class="icon icon-address"></i>Hà Nội
                        </div>
                        <ul class="info-list">
                            <li>Số lượng: 03 Ứng viên</li>
                            <li>Mức lương: 10.000.000 đồng/tháng trở lên</li>
                            <li>Thời hạn ứng tuyển: 01/01/2024</li>
                        </ul>
                        <a href="" title="" class="view-more"><span>TÌM HIỂU THÊM</span></a>
                    </div>
                </div>
            </div>
            <div class="flex-center mt-4">
                <a href="" title="" class="btn-pr"><span>XEM THÊM</span></a>
            </div>
        </div>
    </div>
</main>