<main>
    <div class="mobifone-intro pr">
        <div class="container">
            <div class="content">
                <h1 class="title fw-b js-animation fadeup">GIỚI <span>THIỆU</span></h1>
                <div class="des txt-xl js-animation fadeup">Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone. Chính thức thành lập từ năm 2014, trải qua gần 01 thập kỷ hoạt động, Trung tâm trở thành một trong những đơn vị kỹ thuật cốt lõi của MobiFone góp phần đảm bảo chất lượng mạng MobiFone để đưa tới những trải nghiệm tốt nhất cho khách hàng. Với tôn chỉ, lấy sự hài lòng của khách hàng làm thước đo, chúng tôi đang nỗ lực không ngừng để nâng cấp sản phẩm và dịch vụ bắt kịp bước chuyển mình của xã hội thời kỳ Chuyển đổi số, phấn đấu góp phần đưa MobiFone trở thành nhà cung cấp hạ tầng và dịch vụ số hàng đầu Việt Nam.</div>
                <a href="" title="" class="btn-survey flex-lc"><i class="icon icon-survey"></i><span class="fw-b">Khảo sát</span></a>
            </div>
        </div>
    </div>
    <div class="mobifone-vision">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="vision mb-5 js-animation fadeinleft">
                        <h3 class="flex-lc fw-b"><i class="icon icon-vision"></i>TẦM NHÌN</h3>
                        <div class="txt-xl">
                            <p>Tầm nhìn đến năm 2035 của MobiFone: Sáng tạo tương lai số.</p>
                            <p>MobiFone hướng đến trở thành nhà cung cấp hạ tầng, giải pháp/ nền tảng và dịch vụ số hàng đầu tại Việt Nam và quốc tế.</p>
                            <p>MobiFone mang tới các công nghệ, giải pháp, nền tảng và dịch vụ số ưu việt giúp các cá nhân, doanh nghiệp, tổ chức nhanh chóng chuyển đổi, bắt nhịp vào nền kinh tế số. Dẫn dắt Việt Nam trở thành quốc gia số.</p>
                            <p>MobiFone xây dựng hệ sinh thái số hoàn chỉnh đáp ứng mọi nhu cầu, mọi chủ thể được thỏa sức sáng tạo, tạo lập tương lai số.</p>
                        </div>
                    </div>
                    <div class="mission js-animation fadeinleft">
                        <h3 class="flex-lc fw-b"><i class="icon icon-mission"></i>SỨ MỆNH</h3>
                        <div class="txt-xl">
                            <p>MobiFone không ngừng sáng tạo, đổi mới, kiến tạo hệ sinh thái số hoàn chỉnh, đáp ứng tốt nhất nhu cầu của người Việt và góp phần đưa Việt Nam trở thành quốc gia số.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-wrapper"><img src="./assets/img/img-vision.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobifone-product">
        <div class="container">
            <div class="header">
                <h2 class="title lg">SẢN PHẨM <span>DỊCH VỤ</span></h2>
            </div>
            <div class="product-slider js-animation fadeup">
                <div class="item bg-gr">
                    <div class="content">
                        <div class="img-product"><img src="./assets/img/img-sp-1.jpg" alt=""></div>
                        <div class="number">01.</div>
                        <h4 class="txt-lg fw-b">Đo kiểm <br> và tối ưu</h4>
                        <div class="icon"><img src="./assets/img/icon-sp-1.png" alt=""></div>
                        <div class="des">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                        <a href="" title="xem thêm" class="view-more txt-lg fw-b">xem thêm</a>
                    </div>
                </div>
                <div class="item bg-gr">
                    <div class="content">
                        <div class="img-product"><img src="./assets/img/img-sp-2.jpg" alt=""></div>
                        <div class="number">02.</div>
                        <h4 class="txt-lg fw-b">SỮA CHỮA THIẾT BỊ <br> VIỄN THÔNG</h4>
                        <div class="icon"><img src="./assets/img/icon-sp-2.png" alt=""></div>
                        <div class="des">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                        <a href="" title="xem thêm" class="view-more txt-lg fw-b">xem thêm</a>
                    </div>
                </div>
                <div class="item bg-gr">
                    <div class="content">
                        <div class="img-product"><img src="./assets/img/img-sp-3.jpg" alt=""></div>
                        <div class="number">03.</div>
                        <h4 class="txt-lg fw-b">SẢN XUẤT THIẾT BỊ <br>VIỄN THÔNG</h4>
                        <div class="icon"><img src="./assets/img/icon-sp-3.png" alt=""></div>
                        <div class="des">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                        <a href="" title="xem thêm" class="view-more txt-lg fw-b">xem thêm</a>
                    </div>
                </div>
                <div class="item bg-gr">
                    <div class="content">
                        <div class="img-product"><img src="./assets/img/img-sp-4.jpg" alt=""></div>
                        <div class="number">04.</div>
                        <h4 class="txt-lg fw-b">KIỂM ĐỊNH <br> TRẠM GỐC</h4>
                        <div class="icon"><img src="./assets/img/icon-sp-4.png" alt=""></div>
                        <div class="des">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                        <a href="" title="xem thêm" class="view-more txt-lg fw-b">xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobifone-value">
        <div class="container">
            <div class="header">
                <h2 class="title lg">GIÁ TRỊ <span>CỐT LÕI</span></h2>
                <p>TRONG VĂN HÓA MOBIFONE</p>
            </div>
            <div class="value-list">
                <div class="item">
                    <div class="icon"><img src="./assets/img/icon-gt-1.svg" alt=""></div>
                    <div class="number">01.</div>
                    <div class="text txt-2xl fw-b">THẦN TỐC</div>
                    <div class="gift"><img src="./assets/img/img-gift-1.gif" alt=""></div>
                </div>
                <div class="item">
                    <div class="icon"><img src="./assets/img/icon-gt-2.svg" alt=""></div>
                    <div class="number">02.</div>
                    <div class="text txt-2xl fw-b">ĐỔI MỚI</div>
                    <div class="gift"><img src="./assets/img/img-gift-2.gif" alt=""></div>
                </div>
                <div class="item">
                    <div class="icon"><img src="./assets/img/icon-gt-3.svg" alt=""></div>
                    <div class="number">03.</div>
                    <div class="text txt-2xl fw-b">CHUYÊN NGHIỆP</div>
                    <div class="gift"><img src="./assets/img/img-gift-3.gif" alt=""></div>
                </div>
                <div class="item">
                    <div class="icon"><img src="./assets/img/icon-gt-4.svg" alt=""></div>
                    <div class="number">04.</div>
                    <div class="text txt-2xl fw-b">HIỆU QUẢ</div>
                    <div class="gift"><img src="./assets/img/img-gift-4.gif" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobifone-organization">
        <div class="container">
            <div class="header">
                <h2 class="title lg">MÔ HÌNH <span>TỔ CHỨC</span></h2>
            </div>
            <div class="organization js-animation zoomin">
                <div class="manager"><img src="./assets/img/organization.svg" alt=""></div>
                <ul class="department flex pr">
                    <li><span>PHÒNG TỔNG HỢP</span></li>
                    <li><span>Phòng <br> kế <br> toán</span></li>
                    <li><span>Phòng đo điểm <br> & <br> tối ưu</span></li>
                    <li><span>Phòng sửa chữa thiết bị</span></li>
                    <li><span>Phòng kiểm định <br> & <br> Hỗ trợ kỹ thuật</span></li>
                    <li class="branch"><span>CÁC <br> CHI <br> NHÁNH</span></li>
                </ul>
                <ul class="branch-list flex pr">
                    <li class="branch"><span>Chi nhánh Hà Nội</span></li>
                    <li class="branch"><span>Chi nhánh Đà Nẵng</span></li>
                    <li class="branch"><span>Chi nhánh TP.HCM</span></li>
                </ul>
            </div>
        </div>
    </div>
    {% include "../share/contact.html" %}
    <div class="mobifone-survey pr">
        <div class="container">
            <div class="content text-center pr">
                <h2 class="title">KHẢO SÁT <span>NỘI BỘ</span></h2>
                <a href="" title="" class="btn-pr"><span>ĐĂNG NHẬP</span></a>
                <div class="text">Bạn cần đăng nhập để xem thông tin này</div>
                <div class="img-wrapper"><img src="./assets/img/img-survey.png" alt=""></div>
            </div>
        </div>
    </div>
</main>