<main>
    <div class="mobifone-banner pr">
        <div class="img-full h-auto"><img src="./assets/img/bg-news.jpg" alt=""></div>
        <div class="content">
            <h1 class="title js-animation fadeup">TIN <span>TỨC</span></h1>
            <a href="" title="" class="btn-survey flex-lc"><i class="icon icon-survey"></i><span class="fw-b">Khảo sát</span></a>
        </div>
    </div>
    <div class="mobifone-news-detail">
        <div class="container">
            <div class="top flex-lc">
                <button onclick="history.back()" class="btn-pr"><span>QUAY LẠI</span></button>
                <time class="txt-lg">July, 27th, 2024</time>
            </div>
            <h1 class="title js-animation fadeup">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text...</h1>
            <article class="js-animation fadeup">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <div class="flex-lc">
                    <p style="width: 40%; text-align: justify; padding-right: 16px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <div class="img" style="width: 60%"><img src="./assets/img/img-detail.jpg" alt=""></div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <br>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <br>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </article>
            <div class="share flex-lc">
                <h4 class="fw-b txt-lg">SHARE:</h4>
                <div class="social flex-lc">
                    <a href="" title="" class="facebook">facebook</a>
                    <a href="" title="" class="twitter">twitter</a>
                    <a href="" title="" class="linkedin">linkedin</a>
                    <a href="" title="" class="google">google</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mobifone-news pr">
        <div class="container">
            <div class="header text-center">
                <h2 class="title">TIN TỨC LIÊN QUAN</h2>
            </div>
            <div class="news-list js-animation fadeup">
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/img-new-3.jpg" alt=""></a>
                    <h3><a href="" title="">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</a></h3>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione </p>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/img-new-1.jpg" alt=""></a>
                    <h3><a href="" title="">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</a></h3>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione </p>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/img-new-1.jpg" alt=""></a>
                    <h3><a href="" title="">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</a></h3>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione </p>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/img-new-2.jpg" alt=""></a>
                    <h3><a href="" title="">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut</a></h3>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</p>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/img-new-2.jpg" alt=""></a>
                    <h3><a href="" title="">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut</a></h3>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</p>
                </div>
            </div>
        </div>
    </div>
</main>