<main>
    <div class="mobifone-banner pr">
        <div class="img-full h-auto"><img src="./assets/img/bg-news.jpg" alt=""></div>
        <div class="content">
            <h1 class="title">TIN <span>TỨC</span></h1>
            <a href="" title="" class="btn-survey flex-lc"><i class="icon icon-survey"></i><span class="fw-b">Khảo sát</span></a>
        </div>
    </div>
    <div class="mobifone-news pr">
        <div class="container">
            <div class="header text-center">
                <h2 class="title">TIN TỨC</h2>
            </div>
            <div class="news-list">
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/img-new-3.jpg" alt=""></a>
                    <div class="content">
                        <h3><a href="" title="">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</a></h3>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione </p>
                    </div>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/img-new-1.jpg" alt=""></a>
                    <div class="content">
                        <h3><a href="" title="">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</a></h3>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione </p>
                    </div>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/img-new-1.jpg" alt=""></a>
                    <div class="content">
                        <h3><a href="" title="">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</a></h3>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione </p>
                    </div>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/img-new-2.jpg" alt=""></a>
                    <div class="content">
                        <h3><a href="" title="">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut</a></h3>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</p>
                    </div>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/img-new-2.jpg" alt=""></a>
                    <div class="content">
                        <h3><a href="" title="">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut</a></h3>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobifone-private pr">
        <div class="container">
            <div class="content text-center">
                <h2 class="title">TIN NỘI BỘ</h2>
                <a href="" title="" class="btn-pr"><span>ĐĂNG NHẬP</span></a>
                <p>Bạn cần đăng nhập để xem thông tin này</p>
            </div>
        </div>
    </div>
</main>