<main>
    <div class="mobifone-policy">
        <div class="container">
            <div class="back">
                <button onclick="history.back()" class="btn-pr"><span>QUAY LẠI</span></button>
            </div>
            <h1 class="title text-center">Điều khoản</h1>
            <article>
                <h4>ĐIỀU KHOẢN SỬ DỤNG</h4>
                <p>Thông qua việc truy cập và sử dụng bất kỳ chức năng, nội dung nào của trang thông tin điện tử này, khách hàng công nhận rằng đã đọc, hiểu và nhất trí với việc tuân thủ các điều khoản sử dụng của giải pháp.</p>
                <p>MobiFone sẽ chịu trách nhiệm đảm bảo tính hợp pháp của việc cung cấp các chức năng, nội dung trên website đến khách hàng. Mọi thông tin, hình ảnh và toàn bộ nội dung được đăng tải trên website tuân thủ các quy định pháp luật hiện hành của nước Cộng hòa xã hội chủ nghĩa Việt Nam, phù hợp với thuần phong mỹ tục của Việt Nam.</p>
                <h4>BẢN QUYỀN VÀ THƯƠNG HIỆU</h4>
                <p>1. Tuyên bố các quyền Sở hữu trí tuệ của MobiFone đối với các đối tượng thể hiện trên website:</p>
                <p>· Trang web này và tất cả các nội dung của website, bao gồm nhưng không giới hạn các văn bản, thiết kế, đồ họa, giao diện, hình ảnh, mã code đều thuộc bản quyền của MobiFone hoặc bên thứ ba cấp phép cho MobiFone.</p>
                <p>· Bất kỳ nội dung nào thuộc website này bao gồm nhãn hiệu, tên thương mại, mẫu logo công ty hoặc sản phẩm, kiểu dáng sản phẩm… đều thuộc quyền sở hữu của MobiFone và được bảo hộ theo quy định của Luật Sở hữu trí tuệ Việt Nam và các văn bản liên quan.</p>
                <p>· Mọi hành vi sao chép, trích dẫn, sửa đổi, phân phối, xuất bản, lưu thông… vì mục đích thương mại dưới mọi hình thức mà không được sự chấp thuận trước bằng văn bản của MobiFone là xâm phạm quyền của MobiFone. Khi đó, MobiFone có quyền yêu cầu khách hàng chấm dứt việc sử dụng và bồi thường thiệt hại (nếu có).</p>
                <h4>NỘI DUNG</h4>
                <p>1. Quyền và trách nhiệm của MobiFone</p>
                <p>· MobiFone có trách nhiệm cung cấp tới khách hàng chất lượng và tính năng dịch vụ như đã cam kết.</p>
                <p>· MobiFone có quyền thay đổi và/hoặc chấm dứt các nội dung, tính năng của một phần hay toàn bộ website mà không cần thông báo trước với khách hàng.</p>
                <p>· MobiFone có quyền thực hiện các biện pháp an ninh để bảo vệ và chống lại các truy cập trái phép hoặc sửa đổi trái phép, tiết lộ hoặc phá hủy thông tin trên website.</p>
                <p>· Khi khách hàng truy cập website, thông tin sẽ được truyền qua một phương tiện/thiết bị nằm ngoài sự kiểm soát của MobiFone, MobiFone sẽ không chịu trách nhiệm cho hoặc liên quan đến bất kỳ sự chậm trễ, thất bại, bị gián đoạn của bất kỳ dữ liệu hoặc các thông tin khác được truyền trong kết nối với việc sử dụng của website.</p>
                <p>· Thông tin của khách hàng đăng ký sử dụng giải pháp như Họ và tên, Địa chỉ, Email, Số điện thoại… (do khách hàng tự nguyện cung cấp bằng các hình thức khác nhau để sử dụng giải pháp) có thể được sử dụng nội bộ cho mục đích nâng cấp các sản phẩm, dịch vụ của MobiFone, ngoài ra MobiFone có quyền sử dụng thông tin khách hàng cung cấp để:</p>
                <p>Cung cấp và nâng cao chất lượng dịch vụ tới khách hàng;</p>
                <p>Gửi các thông báo về các hoạt động trao đổi thông tin giữa khách hàng và MobiFone;</p>
                <p>Ngăn ngừa các hoạt động phá hủy tài khoản của khách hàng hoặc các hoạt động giả mạo khách hàng; MobiFone sẽ sử dụng các biện pháp bảo mật thông tin nhằm bảo vệ thông tin khách hàng không bị truy cập, sử dụng hoặc tiết lộ ngoài ý muốn.</p>
                <p>Liên lạc và giải quyết với khách hàng trong những trường hợp đặc biệt.</p>
                <p>MobiFone không sử dụng thông tin của khách hàng ngoài các mục đích có liên quan đến cung cấp và sử dụng giải pháp mAICallCenter.</p>
                <p>Trong trường hợp có yêu cầu của pháp luật, MobiFone có trách nhiệm hợp tác cung cấp thông tin khách hàng khi có yêu cầu từ cơ quan tư pháp bao gồm: Viện kiểm sát, tòa án, cơ quan công an điều tra hoặc các đơn vị tương đương liên quan đến hành vi vi phạm pháp luật của khách hàng.</p>
                <p>Thời gian lưu trữ thông tin: Dữ liệu của khách hàng sẽ được lưu trữ cho đến khi có yêu cầu hủy bỏ. Thông tin của khách hàng sẽ được lưu trữ và đảm bảo bảo mật trên máy chủ giải pháp.</p>
                <p>Phương tiện và công cụ để khách hàng tiếp cận và chỉnh sửa dữ liệu : Khách hàng có quyền tự kiểm tra, cập nhật, điều chỉnh hoặc hủy bỏ thông tin của mình bằng cách đăng nhập vào tài khoản và chỉnh sửa thông tin hoặc yêu cầu MobiFone thực hiện.</p>
                <p>· Khách hàng có quyền gửi khiếu nại về chất lượng dịch vụ, thời gian cung ứng dịch vụ đến MobiFone. Khi tiếp nhận những phản hồi này, MobiFone sẽ xác nhận lại thông tin, trường hợp đúng như phản ánh của thành viên tùy theo mức độ, MobiFone sẽ có những biện pháp xử lý kịp thời.</p>
                <p>· MobiFone cam kết không bán, thuê lại hoặc cho thuê số điện thoại, email cũng như các thông tin khác của khách hàng tới bên thứ ba. Trong trường hợp nhận được tin nhắn, Email không từ MobiFone, khách hàng cần thông báo trực tiếp đến MobiFone</p>
                <p>· MobiFone được quyền triển khai các giải pháp phòng chống rủi ro khi cung cấp và sử dụng dịch vụ cho cả Mobifone và khách hàng như sử dụng các biện pháp nghiệp vụ phòng chống gửi nội dung trái pháp luật, trái thuần phong mỹ tục, đạo đức Việt Nam; giới hạn mọi chiến dịch chỉ được chạy trong khoảng thời gian : 6:00 AM – 22:00 PM; chống giả mạo số; chống thất thoát cước viễn thông quốc tế…</p>
                <p>· Tất cả các thông tin, tài liệu được khách hàng đưa lên website đều không được xem là thông tin mật, MobiFone được phép sử dụng các thông tin, dữ liệu này để phục vụ cho các công việc liên quan đến cung cấp dịch vụ như nâng cao chất lượng dịch vụ; đảm bảo việc cung cấp dịch vụ phù hợp với Pháp luật Nhà nước và các Quy ước Quốc tế, đạo đức xã hội và thuần phong mỹ tục Việt Nam; đảm bảo an ninh, an toàn, bảo mật khi cung cấp dịch vụ; đảm bảo quyền lợi của khách hàng cũng như những đơn vị, cá nhân có liên quan trực tiếp tới dịch vụ và các công tác khác liên quan đến dịch vụ.</p>
                <p>2. Quyền và trách nhiệm của khách hàng</p>
                <p>· Khách hàng có trách nhiệm bảo mật các thông tin liên quan đến mật khẩu và dữ liệu của khách hàng.</p>
                <p>· Khách hàng có trách nhiệm bảo đảm những thông tin, tài liệu đưa lên website thuộc quyền hạn sử dụng của mình</p>
                <p>· Khách hàng được xem, chiết xuất hoặc chia sẻ thông tin trên website (in, tải, chuyển tiếp…) chỉ với mục đích sử dụng cá nhân và phi thương mại với điều kiện phải trích dẫn thông báo bản quyền thuộc về MobiFone: ‘©2019 Copyright by MobiFone.”</p>
                <p>· Khách hàng đảm bảo tuân theo pháp luật và các quy định liên quan đến việc sử dụng website của MobiFone; Không can thiệp, gây ảnh hưởng đến việc sử dụng website của những khách hàng khác; Không can thiệp vào hoạt động và quản lý website của MobiFone.</p>
                <p>· Khách hàng nhận thức rõ và chấp nhận rằng MobiFone và/hoặc các công ty thành viên/đơn vị trực thuộc /nhân viên MobiFone không chịu trách nhiệm đối với bất kỳ tổn thất, thiệt hại, chi phí phát sinh từ bất kỳ quyết định nào của khách hàng khi sử dụng bất kỳ thông tin, nội dung, tính năng trên website với bất kỳ nguyên nhân nào.</p>
                <p>. Khách hàng có trách nhiệm đảm bảo mọi thông tin, nội dung khách hàng đăng tải lên website mAICallCenter đều phải tuân thủ đúng theo pháp luật hiện hành của nước Cộng Hòa Xã Hội Chủ Nghĩa Việt Nam. MobiFone sẽ không chịu trách nhiệm trước pháp luật trong trường hợp người dùng vi phạm nội dung đăng tải lên website theo pháp luật hiện hành của nước Cộng Hòa Xã Hội Chủ Nghĩa Việt Nam.</p>
                <p>. Khách hàng doanh nghiệp có nhu cầu sử dụng giải pháp mAICallCenter cần cung cấp đầy đủ và chính xác các thông tin của Doanh nghiệp bao gồm: Bản scan giấy đăng ký kinh doanh vụ, thông tin người chịu trách nhiệm về kinh doanh – kỹ thuật – hỗ trợ khách hàng cũng như ký kết đầy đủ hợp đồng sử dụng dịch vụ với MobiFone.</p>
                <p>· Khách hàng cá nhân sử dụng dịch vụ mAICallCenter cần có đầu số thuê bao MobiFone đã được xác minh danh tính.</p>
                <p>· Khách hàng chịu trách nhiệm về các nội dung trước và sau chuyển đổi dưới dạng văn bản, file âm thanh hoặc bất kỳ dạng thức nào khác; khách hàng chịu trách nhiệm về tất cả các nội dung liên quan đến cuộc gọi và nội dung cuộc gọi, bao gồm danh sách gọi ra và thông tin thuê bao gọi ra, nội dung chuyển đổi, nội dung cuộc gọi; không chuyển đổi, không gửi, chia sẻ các nội dung làm ảnh hưởng đến uy tín của các đơn vị khác (nếu có), các nội dung trái với pháp luật Việt Nam và các quy định của các Bộ, Ban ngành của Nhà nước; các nội dung trái đạo đức, thuần phong mỹ tục</p>
                <p>· Khách hàng không lợi dụng, thực hiện các hành động liên quan đến dịch vụ như: spam cuộc gọi; giả mạo số gọi đi; xây dựng và truyền đạt nội dung trái pháp luật Việt Nam, trái đạo đức, thuần phong mỹ tục Việt Nam; chuyển lậu lưu lượng và các hành vi khác trái pháp luật Việt Nam và các quy ước Quốc tế. Khách hàng chịu trách nhiệm hoàn toàn trước pháp luật về các hành vi trên.</p>
                <p>· Khách hàng tự chịu trách nhiệm về nội dung truyền tải trước pháp luật và đảm bảo rằng :</p>
                <p>Nội dung khách hàng cung cấp thuộc quyền sở hữu, và/hoặc có bản quyền hợp pháp</p>
                <p>Nội dung phù hợp với quy định của pháp luật Việt Nam và các Công ước quốc tế mà Việt Nam là thành viên như Luật báo chí, Luật văn quyền, Luật sở hữu trí tuệ, pháp lệnh về bưu chính viễn thông, các qui định khác về pháp luật.</p>
                <p>Nội dung không xâm phạm và không ảnh hưởng đến quyền sở hữu trí tuệ và các quyền hợp pháp của bất kỳ tổ chức hoặc cá nhân nào.</p>
                <p>Các hành vi vi phạm sẽ được xử lý tùy theo mức độ vi phạm của khách hàng. MobiFone có quyền ngừng cung cấp dịch vụ mà không cần phải báo trước cho khách hàng.</p>
                <h4>ĐIỀU KHOẢN CHUNG</h4>
                <p>1. Điều khoản sử dụng được điều chỉnh bởi pháp luật hiện hành của nước Cộng Hòa Xã Hội Chủ Nghĩa Việt Nam. Trong trường hợp một điều khoản sử dụng bị vô hiệu theo quyết định của tòa án có thẩm quyền sẽ không ảnh hưởng đến tính hiệu lực của các điều khoản còn lại.</p>
                <p>2. Thông báo này và tất cả các điều khoản sử dụng tạo thành toàn bộ thỏa thuận giữa MobiFone và khách hàng liên quan đến việc sử dụng các thông tin và dịch vụ trên website. MobiFone có quyền điều chỉnh nội dung thông báo và cập nhật trên website cung cấp dịch vụ.</p>
            </article>
        </div>
    </div>
</main>