<main>
    <div class="mobifone-banner pr">
        <div class="img-full"><img src="./assets/img/bg-product.jpg" alt=""></div>
        <div class="content">
            <h1 class="title js-animation fadeup">SẢN PHẨM <span>DỊCH VỤ</span></h1>
            <div class="des txt-lg js-animation fadeup">Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone. Chính thức thành lập từ năm 2014, trải qua gần 01 thập kỷ hoạt động, Trung tâm trở thành một trong những đơn vị kỹ thuật cốt lõi của MObiFone góp phần đảm bảo chất lượng mạng MobiFone để đưa tới những trải nghiệm tốt nhất cho khách hàng.</div>
            <a href="" title="" class="btn-survey flex-lc"><i class="icon icon-survey"></i><span class="fw-b">Khảo sát</span></a>
        </div>
    </div>
    <div class="mobifone-service pr">
        <ul class="tab nav">
            <li class="js-animation fadeup"><a href="#dokiem" title="" data-toggle="tab" class="active">01. Đo kiểm và tối ưu</a></li>
            <li class="js-animation fadeup"><a href="#suachua" title="" data-toggle="tab">02. Sửa chữa thiết bị</a></li>
            <li class="js-animation fadeup"><a href="#sanxuat" title="" data-toggle="tab">03. Sản xuất thiết bị</a></li>
            <li class="js-animation fadeup"><a href="#kiemdinh" title="" data-toggle="tab">04. Kiểm định trạm gốc</a></li>
            <li class="js-animation fadeup"><a href="#congnghe" title="" data-toggle="tab">05. Công nghệ thông tin</a></li>
        </ul>
        <div class="tab-content container js-animation fadeup">
            <div id="dokiem" class="tab-pane fade show active">
                <div class="flex">
                    <div class="content">
                        <h2 class="title txt-2xl fw-b mb-md">ĐO KIỂM VÀ TỐI ƯU</h2>
                        <div class="txt-lg">
                            Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone. Chính thức thành lập từ năm 2014, trải qua gần 01 thập kỷ hoạt động, Trung tâm trở thành một trong những đơn vị kỹ thuật cốt lõi của MobiFone góp phần đảm bảo chất lượng mạng MobiFone để đưa tới những trải nghiệm tốt nhất cho khách hàng. Với tôn chỉ, lấy sự hài lòng của khách hàng làm thước đo, chúng tôi đang nỗ lực không ngừng để nâng cấp sản phẩm và dịch vụ bắt kịp bước chuyển mình của xã hội thời kỳ Chuyển đổi số, phấn đấu góp phần đưa MobiFone trở thành nhà cung cấp hạ tầng và dịch vụ số hàng đầu Việt Nam.
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img src="./assets/img/img-dokiem.jpg" alt="">
                    </div>
                </div>
            </div>
            <div id="suachua" class="tab-pane fade"></div>
            <div id="sanxuat" class="tab-pane fade"></div>
            <div id="kiemdinh" class="tab-pane fade"></div>
            <div id="congnghe" class="tab-pane fade"></div>
        </div>
    </div>
    <div class="mobifone-product-slider">
        <div class="container">
            <div class="header text-center">
                <h2 class="title">SẢN <span>PHẨM</span></h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="product-slider js-animation fadeup">
                <div class="item">
                    <div class="img-product"><img src="./assets/img/img-pr-1.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-lg fw-b">lorem ipsum</h3>
                        <div class="des">Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="img-product"><img src="./assets/img/img-pr-2.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-lg fw-b">lorem ipsum</h3>
                        <div class="des">Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="img-product"><img src="./assets/img/img-pr-3.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-lg fw-b">lorem ipsum</h3>
                        <div class="des">Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="img-product"><img src="./assets/img/img-pr-4.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-lg fw-b">lorem ipsum</h3>
                        <div class="des">Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="img-product"><img src="./assets/img/img-pr-3.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-lg fw-b">lorem ipsum</h3>
                        <div class="des">Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "../share/contact.html" %}
</main>