<main>
    <div class="container">
        <div class="back">
            <button onclick="history.back()" class="btn-pr"><span>QUAY LẠI</span></button>
        </div>
        <div class="product-detail flex">
            <div class="slider-img-product">
                <div class="slider slider-for">
                    <div class="item"><img src="./assets/img/img-pr-6.jpg" alt=""></div>
                    <div class="item"><img src="./assets/img/img-pr-4.jpg" alt=""></div>
                    <div class="item"><img src="./assets/img/img-pr-3.jpg" alt=""></div>
                    <div class="item"><img src="./assets/img/img-pr-2.jpg" alt=""></div>
                    <div class="item"><img src="./assets/img/img-pr-3.jpg" alt=""></div>
                </div>
                <div class="slider slider-nav">
                    <div class="item"><img src="./assets/img/img-pr-6.jpg" alt=""></div>
                    <div class="item"><img src="./assets/img/img-pr-4.jpg" alt=""></div>
                    <div class="item"><img src="./assets/img/img-pr-3.jpg" alt=""></div>
                    <div class="item"><img src="./assets/img/img-pr-2.jpg" alt=""></div>
                    <div class="item"><img src="./assets/img/img-pr-3.jpg" alt=""></div>
                </div>
                <div class="nav-slider flex-lc">
                    <button type="button" class="btn-prev flex-lc"><i class="icon icon-prev"></i> Prev</button>
                    <button type="button" class="btn-next flex-lc">Next <i class="icon icon-next"></i></button>
                </div>
            </div>
            <div class="info-product">
                <h1 class="title fw-b js-animation fadeup">tên sản phẩm</h1>
                <div class="rating js-animation fadeup"><div class="value" style="width: 100%"></div></div>
                <div class="des txt-lg js-animation fadeup">Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone. Chính thức thành lập từ năm 2014, trải qua gần 01 thập kỷ hoạt động, Trung tâm trở thành một trong những đơn vị kỹ thuật cốt lõi của MobiFone góp phần đảm bảo chất lượng mạng MobiFone để đưa tới những trải nghiệm tốt nhất cho khách hàng. Với tôn chỉ, lấy sự hài lòng của khách hàng làm thước đo, chúng tôi đang nỗ lực không ngừng để nâng cấp sản phẩm và dịch vụ bắt kịp bước chuyển mình của xã hội thời kỳ Chuyển đổi số, phấn đấu góp phần đưa MobiFone trở thành nhà cung cấp hạ tầng và dịch vụ số hàng đầu Việt Nam.</div>
                <a href="" title="" class="btn-contact fw-b flex-center js-animation zoomin"><span>Liên hệ</span> <i class="icon icon-phone"></i></a>
            </div>
        </div>
        <div class="mobifone-product-slider">
            <div class="header text-center">
                <h2 class="title">SẢN <span>PHẨM</span></h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="product-slider js-animation fadeup">
                <div class="item">
                    <div class="img-product"><img src="./assets/img/img-pr-1.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-lg fw-b">lorem ipsum</h3>
                        <div class="des">Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="img-product"><img src="./assets/img/img-pr-2.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-lg fw-b">lorem ipsum</h3>
                        <div class="des">Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="img-product"><img src="./assets/img/img-pr-3.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-lg fw-b">lorem ipsum</h3>
                        <div class="des">Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="img-product"><img src="./assets/img/img-pr-4.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-lg fw-b">lorem ipsum</h3>
                        <div class="des">Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="img-product"><img src="./assets/img/img-pr-3.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-lg fw-b">lorem ipsum</h3>
                        <div class="des">Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>