<main>
    <div class="mobifone-banner pr">
        <div class="img-full"><img src="./assets/img/bg-td.jpg" alt=""></div>
        <div class="content">
            <h1 class="title js-animation fadeup">TUYỂN <span>DỤNG</span></h1>
            <div class="des txt-lg js-animation fadeup">Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone. Chính thức thành lập từ năm 2014, trải qua gần 01 thập kỷ hoạt động, Trung tâm trở thành một trong những đơn vị kỹ thuật cốt lõi của MObiFone góp phần đảm bảo chất lượng mạng MobiFone để đưa tới những trải nghiệm tốt nhất cho khách hàng.</div>
            <a href="" title="" class="btn-survey flex-lc"><i class="icon icon-survey"></i><span class="fw-b">Khảo sát</span></a>
        </div>
    </div>
    <div class="mobifone-career">
        <div class="container">
            <div class="header text-center">
                <h2 class="title">VỊ TRÍ NỔI BẬT</h2>
            </div>
            <div class="position-list js-animation fadeup">
                <div class="item bd-gr">
                    <div class="img-thumb"><img src="./assets/img/img-nn-1.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-xl fw-b">cHUYÊN VIÊN ABC</h3>
                        <div class="address flex mb-1">
                            <i class="icon icon-address"></i>Hà Nội
                        </div>
                        <ul class="info-list">
                            <li>Số lượng: 03 Ứng viên</li>
                            <li>Mức lương: 10.000.000 đồng/tháng trở lên</li>
                            <li>Thời hạn ứng tuyển: 01/01/2024</li>
                        </ul>
                        <a href="" title="" class="view-more"><span>TÌM HIỂU THÊM</span></a>
                    </div>
                </div>
                <div class="item bd-gr">
                    <div class="img-thumb"><img src="./assets/img/img-nn-2.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-xl fw-b">cHUYÊN VIÊN ABC</h3>
                        <div class="address flex mb-1">
                            <i class="icon icon-address"></i>Hà Nội
                        </div>
                        <ul class="info-list">
                            <li>Số lượng: 03 Ứng viên</li>
                            <li>Mức lương: 10.000.000 đồng/tháng trở lên</li>
                            <li>Thời hạn ứng tuyển: 01/01/2024</li>
                        </ul>
                        <a href="" title="" class="view-more"><span>TÌM HIỂU THÊM</span></a>
                    </div>
                </div>
                <div class="item bd-gr">
                    <div class="img-thumb"><img src="./assets/img/img-nn-2.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-xl fw-b">cHUYÊN VIÊN ABC</h3>
                        <div class="address flex mb-1">
                            <i class="icon icon-address"></i>Hà Nội
                        </div>
                        <ul class="info-list">
                            <li>Số lượng: 03 Ứng viên</li>
                            <li>Mức lương: 10.000.000 đồng/tháng trở lên</li>
                            <li>Thời hạn ứng tuyển: 01/01/2024</li>
                        </ul>
                        <a href="" title="" class="view-more"><span>TÌM HIỂU THÊM</span></a>
                    </div>
                </div>
                <div class="item bd-gr">
                    <div class="img-thumb"><img src="./assets/img/img-nn-3.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-xl fw-b">cHUYÊN VIÊN ABC</h3>
                        <div class="address flex mb-1">
                            <i class="icon icon-address"></i>Hà Nội
                        </div>
                        <ul class="info-list">
                            <li>Số lượng: 03 Ứng viên</li>
                            <li>Mức lương: 10.000.000 đồng/tháng trở lên</li>
                            <li>Thời hạn ứng tuyển: 01/01/2024</li>
                        </ul>
                        <a href="" title="" class="view-more"><span>TÌM HIỂU THÊM</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobifone-position">
        <div class="container">
            <div class="header text-center">
                <h2 class="title">TÌM KIẾM VỊ TRÍ PHÙ HỢP</h2>
            </div>
            <div class="box-search">
                <form action="" method="" class="flex-lc">
                    <div class="box-select">
                        <select name="">
                            <option>Cấp bậc</option>
                            <option value="">Giám đốc</option>
                        </select>
                    </div>
                    <div class="box-select">
                        <select name="">
                            <option>Ngành nghề</option>
                            <option value="">IT</option>
                        </select>
                    </div>
                    <div class="box-select">
                        <select name="">
                            <option>Tỉnh thành</option>
                            <option value="">Hà Nội</option>
                        </select>
                    </div>
                    <div class="box-select">
                        <input type="date" name="">
                    </div>
                    <button type="submit" class="btn-submit btn-pr"><span>TÌM KIẾM</span></button>
                </form>
            </div>
            <div class="box-table js-animation fadein">
                <table>
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Vị trí tuyển dụng</th>
                        <th>Cấp bậc</th>
                        <th>Thu nhập</th>
                        <th>Tỉnh thành</th>
                        <th>Thời hạn ứng tuyển</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>01</td>
                        <td>Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</td>
                        <td>Nhân viên</td>
                        <td>8-15tr/tháng</td>
                        <td>Hà Nội</td>
                        <td>Thời hạn nhận hồ sơ: Đến hết ngày 20/02/2024</td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</td>
                        <td>Nhân viên</td>
                        <td>8-15tr/tháng</td>
                        <td>Hà Nội</td>
                        <td>Thời hạn nhận hồ sơ: Đến hết ngày 20/02/2024</td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</td>
                        <td>Nhân viên</td>
                        <td>8-15tr/tháng</td>
                        <td>Hà Nội</td>
                        <td>Thời hạn nhận hồ sơ: Đến hết ngày 20/02/2024</td>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td>Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</td>
                        <td>Nhân viên</td>
                        <td>8-15tr/tháng</td>
                        <td>Hà Nội</td>
                        <td>Thời hạn nhận hồ sơ: Đến hết ngày 20/02/2024</td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</td>
                        <td>Nhân viên</td>
                        <td>8-15tr/tháng</td>
                        <td>Hà Nội</td>
                        <td>Thời hạn nhận hồ sơ: Đến hết ngày 20/02/2024</td>
                    </tr>
                    <tr>
                        <td>06</td>
                        <td>Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</td>
                        <td>Nhân viên</td>
                        <td>8-15tr/tháng</td>
                        <td>Hà Nội</td>
                        <td>Thời hạn nhận hồ sơ: Đến hết ngày 20/02/2024</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</td>
                        <td>Nhân viên</td>
                        <td>8-15tr/tháng</td>
                        <td>Hà Nội</td>
                        <td>Thời hạn nhận hồ sơ: Đến hết ngày 20/02/2024</td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td>Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</td>
                        <td>Nhân viên</td>
                        <td>8-15tr/tháng</td>
                        <td>Hà Nội</td>
                        <td>Thời hạn nhận hồ sơ: Đến hết ngày 20/02/2024</td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</td>
                        <td>Nhân viên</td>
                        <td>8-15tr/tháng</td>
                        <td>Hà Nội</td>
                        <td>Thời hạn nhận hồ sơ: Đến hết ngày 20/02/2024</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</td>
                        <td>Nhân viên</td>
                        <td>8-15tr/tháng</td>
                        <td>Hà Nội</td>
                        <td>Thời hạn nhận hồ sơ: Đến hết ngày 20/02/2024</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="mobifone-benefit">
        <div class="container">
            <div class="header text-center">
                <h2 class="title">QUYỀN LỢI ĐƯỢC HƯỞNG</h2>
                <p>Khi gia nhập cùng chúng tôi bạn nhận được những gì?</p>
            </div>
            <div class="benefit-list">
                <div class="item js-animation fadeup">
                    <div class="content">
                        <div class="icon"><img src="./assets/img/icon-ql-1.svg" alt=""></div>
                        <h3 class="txt-2xl fw-b">Bảo hiểm</h3>
                        <p>Chế độ bảo hiểm đầy đủ từ BHYT, BHXH cho tới Bảo hiểm khám chữa bệnh tại các bệnh viện cao cấp, quyền lợi lên tới 10000$</p>
                    </div>
                </div>
                <div class="item js-animation fadeup">
                    <div class="content">
                        <div class="icon"><img src="./assets/img/icon-ql-2.svg" alt=""></div>
                        <h3 class="txt-2xl fw-b">Môi trường làm việc</h3>
                        <p>Chuyên nghiệp, ổn định, năng động, cởi mở, sáng tạo, đoàn kết, minh bạch</p>
                    </div>
                </div>
                <div class="item js-animation fadeup">
                    <div class="content">
                        <div class="icon"><img src="./assets/img/icon-ql-3.svg" alt=""></div>
                        <h3 class="txt-2xl fw-b">Phụ cấp</h3>
                        <p>Hưởng phụ cấp ăn trưa, chế độ thuê bao nội bộ, phụ cấp môi trường làm việc</p>
                    </div>
                </div>
                <div class="item js-animation fadeup">
                    <div class="content">
                        <div class="icon"><img src="./assets/img/icon-ql-4.svg" alt=""></div>
                        <h3 class="txt-2xl fw-b">Hoạt động</h3>
                        <p>Teambuilding, du lịch, du xuân, nghỉ mát, nghỉ hè trong hoặc ngoài nước đa dạng</p>
                    </div>
                </div>
                <div class="item js-animation fadeup">
                    <div class="content">
                        <div class="icon"><img src="./assets/img/icon-ql-5.svg" alt=""></div>
                        <h3 class="txt-2xl fw-b">Đào tạo</h3>
                        <p>Tham gia các khóa đào tạo chuyên môn, kỹ năng trong và ngoài nước</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobifone-survey sm pr">
        <div class="container">
            <div class="content text-center pr">
                <h2 class="title block">BẠN ĐÃ SẴN SÀNG <span>GIA NHẬP NGÔI NHÀ TMC</span></h2>
                <a href="" title="" class="btn-pr"><span>NỘP CV</span></a>
                <div class="img-wrapper"><img src="./assets/img/CV-writing.jpg" alt=""></div>
            </div>
        </div>
    </div>
</main>