<main>
    <div class="mobifone-banner pr">
        <div class="img-full"><img src="./assets/img/bg-td.jpg" alt=""></div>
        <div class="content">
            <h1 class="title js-animation fadeup">TUYỂN <span>DỤNG</span></h1>
            <div class="des txt-lg js-animation fadeup">Trung tâm Đo kiểm và sửa chữa thiết bị viễn thông MobiFone là đơn vị trực thuộc Tổng công ty viễn thông MobiFone. Chính thức thành lập từ năm 2014, trải qua gần 01 thập kỷ hoạt động, Trung tâm trở thành một trong những đơn vị kỹ thuật cốt lõi của MObiFone góp phần đảm bảo chất lượng mạng MobiFone để đưa tới những trải nghiệm tốt nhất cho khách hàng.</div>
            <a href="" title="" class="btn-survey flex-lc"><i class="icon icon-survey"></i><span class="fw-b">Khảo sát</span></a>
        </div>
    </div>
    <div class="mobifone-job">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="back">
                        <button onclick="history.back()" class="btn-pr"><span>QUAY LẠI</span></button>
                    </div>
                    <h1 class="title js-animation fadeup">Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</h1>
                    <ul class="job-info flex pr js-animation fadeup">
                        <li><i class="icon icon-address"></i><span>Head Quarter</span></li>
                        <li><i class="icon icon-address"></i><span>Hà Nội</span></li>
                        <li><i class="icon icon-company"></i><span>Công ty: MobiFone</span></li>
                        <li><span>Ngành: Sản xuất</span></li>
                        <li><i class="icon icon-time"></i><span>Hạn nộp hồ sơ: 	30/09/2024</span></li>
                        <li><span>Hình thức: Fulltime</span></li>
                        <li><i class="icon icon-salary"></i><span>35.000.000 - 60.000.000 VNĐ</span></li>
                        <li><span>Nộp hồ sơ qua: tuyendung@mobifone.vn</span></li>
                    </ul>
                    <div class="job-detail js-animation fadeup">
                        <h4 class="txt-lg fw-b">NHIỆM VỤ</h4>
                        <p>Lead and manage the development and planning of the growth strategy</p>
                        <p>Design marketing campaigns that will drive both acquisition and retention for the growth of business</p>
                        <p>Lead the execution of major projects and overall activities, including marketing activities (Digital, PR, social, OOH, LSM), promotion programs, product feedback & optimization</p>
                        <p>Own the relationship with Ops and other internal functions (Product, IT, Marketing, MBI) to ensure alignment and secure the support needed</p>
                        <p>Manage budget allocation between promo cost and media mix that best suits business objectives, across both online and offline channels</p>
                        <p>Perform data monitoring and analysis daily/weekly and provide recommendations based on consumer insights</p>
                        <p>Lead and coach the execution team</p>
                        <p>Identify and/or review potential co-partnerships that are of brand fit to MoMo and negotiate for mutually beneficial terms.</p>
                    </div>
                    <div class="job-detail">
                        <h4 class="txt-lg fw-b">KỸ NĂNG/KINH NGHIỆM YÊU CẦU</h4>
                        <p>Lead and manage the development and planning of the growth strategy</p>
                        <p>Design marketing campaigns that will drive both acquisition and retention for the growth of business</p>
                        <p>Lead the execution of major projects and overall activities, including marketing activities (Digital, PR, social, OOH, LSM), promotion programs, product feedback & optimization</p>
                        <p>Own the relationship with Ops and other internal functions (Product, IT, Marketing, MBI) to ensure alignment and secure the support needed</p>
                        <p>Manage budget allocation between promo cost and media mix that best suits business objectives, across both online and offline channels</p>
                        <p>Perform data monitoring and analysis daily/weekly and provide recommendations based on consumer insights</p>
                        <p>Lead and coach the execution team</p>
                        <p>Identify and/or review potential co-partnerships that are of brand fit to MoMo and negotiate for mutually beneficial terms.</p>
                    </div>
                    <div class="job-detail">
                        <h4 class="txt-lg fw-b">PHÚC LỢI</h4>
                        <p>Salary: 35.000.000 - 60.000.000 mil</p>
                        <p>Performance review every year</p>
                        <p>Compulsory Insurance.</p>
                    </div>
                    <div class="job-detail">
                        <h4 class="txt-lg fw-b">CÁC THÔNG TIN KHÁC</h4>
                        <p>Position: Marketing & Growth Manager</p>
                        <p>Department: Marketing.</p>
                        <p>Report to: Managing Director</p>
                        <p>Working Hours: 9:00 AM - 6:00 PM Mon-Fri.</p>
                        <p>Location: 119 Luong Dinh Cua, District 2, HCMC</p>
                        <p>Computer/Laptop provided: No</p>
                        <p>15 Days annual leave</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="box-cv flex-lc">
                        <a href="" title="" class="btn-pr"><span>NỘP CV</span></a>
                        <div class="img"><img src="./assets/img/CV-writing.png" alt=""></div>
                    </div>
                    <div class="box-info">
                        <h4>Mọi thắc mắc xin liên hệ</h4>
                        <ul class="info-list">
                            <li class="flex">
                                <i class="icon icon-address"></i>
                                <span>Địa chỉ: Số 115 Trần Duy Hưng, Trung Hòa, Cầu Giấy, Hà Nội.</span>
                            </li>
                            <li class="flex">
                                <i class="icon icon-phone"></i>
                                <span>Số điện thoại: <a href="" tel="(+84-24) 3783 1800">(+84-24) 3783 1800</a></span>
                            </li>
                            <li class="flex">
                                <i class="icon icon-email"></i>
                                <span>Email: <a href="mailto:mobifone@mobifone.vn">mobifone@mobifone.vn</a></span>
                            </li>
                        </ul>
                        <a href="" title="" class="btn-map">maps</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobifone-career">
        <div class="container">
            <div class="header text-center">
                <h2 class="title">CÁC VỊ TRÍ KHÁC</h2>
            </div>
            <div class="position-list js-animation fadeup">
                <div class="item bd-gr">
                    <div class="img-thumb"><img src="./assets/img/img-nn-1.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-xl fw-b">cHUYÊN VIÊN ABC</h3>
                        <div class="address flex mb-1">
                            <i class="icon icon-address"></i>Hà Nội
                        </div>
                        <ul class="info-list">
                            <li>Số lượng: 03 Ứng viên</li>
                            <li>Mức lương: 10.000.000 đồng/tháng trở lên</li>
                            <li>Thời hạn ứng tuyển: 01/01/2024</li>
                        </ul>
                        <a href="" title="" class="view-more"><span>TÌM HIỂU THÊM</span></a>
                    </div>
                </div>
                <div class="item bd-gr">
                    <div class="img-thumb"><img src="./assets/img/img-nn-2.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-xl fw-b">cHUYÊN VIÊN ABC</h3>
                        <div class="address flex mb-1">
                            <i class="icon icon-address"></i>Hà Nội
                        </div>
                        <ul class="info-list">
                            <li>Số lượng: 03 Ứng viên</li>
                            <li>Mức lương: 10.000.000 đồng/tháng trở lên</li>
                            <li>Thời hạn ứng tuyển: 01/01/2024</li>
                        </ul>
                        <a href="" title="" class="view-more"><span>TÌM HIỂU THÊM</span></a>
                    </div>
                </div>
                <div class="item bd-gr">
                    <div class="img-thumb"><img src="./assets/img/img-nn-2.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-xl fw-b">cHUYÊN VIÊN ABC</h3>
                        <div class="address flex mb-1">
                            <i class="icon icon-address"></i>Hà Nội
                        </div>
                        <ul class="info-list">
                            <li>Số lượng: 03 Ứng viên</li>
                            <li>Mức lương: 10.000.000 đồng/tháng trở lên</li>
                            <li>Thời hạn ứng tuyển: 01/01/2024</li>
                        </ul>
                        <a href="" title="" class="view-more"><span>TÌM HIỂU THÊM</span></a>
                    </div>
                </div>
                <div class="item bd-gr">
                    <div class="img-thumb"><img src="./assets/img/img-nn-3.jpg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-xl fw-b">cHUYÊN VIÊN ABC</h3>
                        <div class="address flex mb-1">
                            <i class="icon icon-address"></i>Hà Nội
                        </div>
                        <ul class="info-list">
                            <li>Số lượng: 03 Ứng viên</li>
                            <li>Mức lương: 10.000.000 đồng/tháng trở lên</li>
                            <li>Thời hạn ứng tuyển: 01/01/2024</li>
                        </ul>
                        <a href="" title="" class="view-more"><span>TÌM HIỂU THÊM</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobifone-position">
        <div class="container">
            <div class="header text-center">
                <h2 class="title">TÌM KIẾM VỊ TRÍ PHÙ HỢP</h2>
            </div>
            <div class="box-search">
                <form action="" method="" class="flex-lc">
                    <div class="box-select">
                        <select name="">
                            <option>Cấp bậc</option>
                            <option value="">Giám đốc</option>
                        </select>
                    </div>
                    <div class="box-select">
                        <select name="">
                            <option>Ngành nghề</option>
                            <option value="">IT</option>
                        </select>
                    </div>
                    <div class="box-select">
                        <select name="">
                            <option>Tỉnh thành</option>
                            <option value="">Hà Nội</option>
                        </select>
                    </div>
                    <div class="box-select">
                        <input type="date" name="">
                    </div>
                    <button type="submit" class="btn-submit btn-pr"><span>TÌM KIẾM</span></button>
                </form>
            </div>
            <div class="box-table js-animation fadein">
                <table>
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Vị trí tuyển dụng</th>
                        <th>Cấp bậc</th>
                        <th>Thu nhập</th>
                        <th>Tỉnh thành</th>
                        <th>Thời hạn ứng tuyển</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>01</td>
                        <td>Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</td>
                        <td>Nhân viên</td>
                        <td>8-15tr/tháng</td>
                        <td>Hà Nội</td>
                        <td>Thời hạn nhận hồ sơ: Đến hết ngày 20/02/2024</td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</td>
                        <td>Nhân viên</td>
                        <td>8-15tr/tháng</td>
                        <td>Hà Nội</td>
                        <td>Thời hạn nhận hồ sơ: Đến hết ngày 20/02/2024</td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</td>
                        <td>Nhân viên</td>
                        <td>8-15tr/tháng</td>
                        <td>Hà Nội</td>
                        <td>Thời hạn nhận hồ sơ: Đến hết ngày 20/02/2024</td>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td>Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</td>
                        <td>Nhân viên</td>
                        <td>8-15tr/tháng</td>
                        <td>Hà Nội</td>
                        <td>Thời hạn nhận hồ sơ: Đến hết ngày 20/02/2024</td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</td>
                        <td>Nhân viên</td>
                        <td>8-15tr/tháng</td>
                        <td>Hà Nội</td>
                        <td>Thời hạn nhận hồ sơ: Đến hết ngày 20/02/2024</td>
                    </tr>
                    <tr>
                        <td>06</td>
                        <td>Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</td>
                        <td>Nhân viên</td>
                        <td>8-15tr/tháng</td>
                        <td>Hà Nội</td>
                        <td>Thời hạn nhận hồ sơ: Đến hết ngày 20/02/2024</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</td>
                        <td>Nhân viên</td>
                        <td>8-15tr/tháng</td>
                        <td>Hà Nội</td>
                        <td>Thời hạn nhận hồ sơ: Đến hết ngày 20/02/2024</td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td>Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</td>
                        <td>Nhân viên</td>
                        <td>8-15tr/tháng</td>
                        <td>Hà Nội</td>
                        <td>Thời hạn nhận hồ sơ: Đến hết ngày 20/02/2024</td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</td>
                        <td>Nhân viên</td>
                        <td>8-15tr/tháng</td>
                        <td>Hà Nội</td>
                        <td>Thời hạn nhận hồ sơ: Đến hết ngày 20/02/2024</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Hà Nội tuyển dụng: Giám đốc kinh doanh trung tâm</td>
                        <td>Nhân viên</td>
                        <td>8-15tr/tháng</td>
                        <td>Hà Nội</td>
                        <td>Thời hạn nhận hồ sơ: Đến hết ngày 20/02/2024</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>