<main>
    <div class="container">
        <div class="box-survey flex-lc">
            <div class="text-center">
                <h1 class="title">KHẢO SÁT <span>CHUNG</span></h1>
                <a href="" title="" class="btn-pr"><span>kHẢO SÁT NGAY</span></a>
                <p>Khảo sát ngay với chúng tôi</p>
            </div>
            <div class="img-wrapper"><img src="./assets/img/img-survey.gif" alt=""></div>
            <div class="text-center">
                <h1 class="title">KHẢO SÁT <span>NỘI BỘ</span></h1>
                <a href="" title="" class="btn-pr"><span>ĐĂNG NHẬP</span></a>
                <p>Bạn cần đăng nhập để xem thông tin này</p>
            </div>
        </div>
    </div>
</main>