:root{
  --blue: #0061AF;
}
body{
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #333;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
@mixin hover{filter: saturate(1.9); -webkit-filter: saturate(1.9);}
@mixin polygon{
  content: "";
  width: 28px; height: 22px;
  background: url("#{$img-path}/polygon-1.svg") no-repeat 0 0/contain;
  position: absolute;
}
@mixin slick-arrow{
  width: 56px; height: 56px;
  background: url("#{$img-path}/next.gif") no-repeat 0 0/contain;
  border-radius: 50%;
  font-size: 0;
  position: absolute; top: 50%; transform: translateY(-50%) rotate(-90deg);
  &:hover{filter: saturate(1.8); -webkit-filter: saturate(1.8);}
}
@mixin line{
  content: "";
  width: 100%; height: 1px;
  background: linear-gradient(90deg, #0061AF 0%, #ED1C24 100%);
  position: absolute; left: 0; bottom: 0;
}
a{transition: .25s;}
a:hover{text-decoration: none;}

//header
header{
  width: 100%;
  background: #fff;
  position: fixed; z-index: 91;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.navbar{
  height: 100%;
  display: flex; align-items: center; justify-content: center;
  margin: 0 auto; padding: 9px 0;
  border-radius: 0; border: none;
  .box-logo{
    .logo{width: 127px; display: block; margin: 0 auto 8px;}
    span{display: block; font-size: 10px; color: #333;}
  }
  .phone{
    margin-left: 60px;
    padding-left: 22px;
    background: url("#{$img-path}/icon-phone.svg") no-repeat left center;
    color: #0061AF;
  }
  .form-search{
    margin-left: 60px;
    &.show input{opacity: 1; visibility: visible; z-index: 2; transform: translateY(0);}
    .btn-search{
      width: 18px; height: 18px;
      background: url("#{$img-path}/icon-search.svg") no-repeat;
    }
    input{
      padding: 0 10px;
      width: 240px; height: 40px; border-radius: 5px;
      border: 1px solid #ccc;
      position: absolute; top: 42px; right: -20px;
      opacity: 0; transform: translateY(15px); visibility: hidden; transition: .3s; z-index: -1;
      &:focus{outline: none;}
    }
  }
}
.navbar-collapse{
  padding: 0; flex-grow: initial;
  .close{display: none;}
}
.navbar-nav{
  margin: 0 0 0 100px; align-items: center;
  >*+*{margin-left: 44px;}
  > li > a{display: block; font-size: 16px; color: #0061AF; position: relative;}
  > li > .active{
    color: #ED1C24; font-weight: 700;
    &::after{
      content: "";
      width: 20px; height: 2px;
      background: #ED1C24;
      position: absolute; left: 0; bottom: 0;
    }
  }
  > li > a:hover{color: #ED1C24;}
}
//main
main{padding-top: 60px; overflow: hidden;}
.banner{
  &__img{
    img{object-fit: cover;}
  }
  &__content{
    width: 100%; height: 100%; padding-bottom: 45px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, #000 100%);
    display: flex; flex-direction: column;
    justify-content: flex-end;
    position: absolute; top: 0; left: 0;
  }
  video{width: 100%; max-height: 90vh; object-fit: cover;}
  h1{
    margin-bottom: 30px; font-size: 24px; font-weight: 700; color: #fff; line-height: 1.3;
    span{display: block; font-size: 36px;}
  }
  .btn-video{
    position: absolute; right: 13%;
    .icon-video{width: 40px; height: 40px; display: block; margin: 0 auto; background: url("#{$img-path}/icon-video.svg") no-repeat;}
    span{color: #F2F2F2;}
  }
  .btn-scroll{
    width: 42px; height: 59px;
    position: absolute; bottom: 5px; left: 50%; transform: translateX(-50%);
    &::after{
      content: "";
      width: 100%; height: 59px;
      background: url("#{$img-path}/eff-3.gif") no-repeat 0 0/contain;
      border-radius: 20px;
      position: absolute; left: 0; top: 0;
    }
  }
}
.operation{
  padding: 55px 0;
  background: url("#{$img-path}/bg-f1.jpg") no-repeat center center/cover;
  .header{
    margin-bottom: 33px;
    p{color: #333;}
    &::after{
      content: "";
      width: 200px; height: 150px;
      display: block;
      background: url("#{$img-path}/loading-1.gif") no-repeat 0 0/contain;
      margin: -35px auto -45px;
    }
  }
  .tab{
    justify-content: center;
    li{width: 183px; background: #828282; padding: 1px; margin: 0 3.5px; position: relative;}
    li:nth-child(2) .icon{animation-delay: 0.2s;}
    li:nth-child(3) .icon{animation-delay: 0.4s;}
    li:nth-child(4) .icon{animation-delay: 0.6s;}
    li:nth-child(5) .icon{animation-delay: 0.8s;}
    li:nth-child(6) .icon{animation-delay: 1s;}
    .tab-active{
      background: linear-gradient(90deg, #0061AF 0%, #ED1C24 100%);
      &::after{@include polygon; left: 50%; transform: translateX(-50%); bottom: -22px;}
    }
    li:hover{
      background: linear-gradient(90deg, #0061AF 0%, #ED1C24 100%);
    }
    .active, li:hover{
      .name{font-weight: 700; color: #0061AF;}
      .icon{filter: grayscale(0) opacity(1);}
    }
    a{width: 100%; height: 100%; display: block; padding: 12px 0; background: #F2F2F2;}
    .icon{width: 84px; display: block; margin: 0 auto 10px; filter: grayscale(1) opacity(0.8);}
    .name{display: block; text-align: center; color: #828282; text-align: center; text-transform: uppercase;}
  }
  .tab-content{margin-top: 22px;}
  .tab-pane{background: rgba(#F2F2F2,1); padding: 25px;}
  .content{
    padding: 30px 22px 0 40px; height: 100%; position: relative;
    h3{margin-bottom: 40px; text-transform: uppercase;}
    p{color: #333;}
    .logo{position: absolute; bottom: 0;}
  }
}
.service{
  padding: 100px 0 127px;
  background: linear-gradient(180deg, #0061AF 0%,rgba(0, 97, 175, 0.00) 100%);
  &::after{
    content: "";
    width: 100%; height: 100%;
    background: url("#{$img-path}/eff-1.gif") no-repeat 0 0/cover;
    position: absolute; bottom: 0;
    transform: rotateX(180deg);
    left: 0; z-index: -1; opacity: 0.1;
  }
  .header{
    margin-bottom: 46px;
    h2.title,p{color: #F2F2F2;}
  }
  .container{max-width: 1710px;}
  .service-list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 0 -40px;
    >*+*::before{
      content: "";
      height: 85%; width: 1px; background: #0061AF;
      position: absolute; top: 50%; transform: translateY(-50%); left: 0;
    }
    .item{padding: 0 40px; position: relative;}
    .item:nth-child(2){animation-delay: 0.2s;}
    .item:nth-child(3){animation-delay: 0.4s;}
    .item:nth-child(4){animation-delay: 0.6s;}
    .item:nth-child(5){animation-delay: 0.8s;}
    .number{font-size: 32px; color: #333;}
    h3{width: calc(100% - 64px); margin-top: 15px;}
    .des{margin: 15px 0 30px; letter-spacing: -0.8px;}
    .view-more{
      display: inline-block; color: #0061AF; text-transform: uppercase; border-bottom: 1px solid currentColor; line-height: 1;
      &:hover{color: #ED1C24;}
    }
  }
}
.product{
  padding: 80px 0 120px;
  background: url("#{$img-path}/bg-f3.png") no-repeat 0 0/cover;
  .header{margin-bottom: 36px;}
  .product-list{
    .slick-slide{display: flex !important; justify-content: space-between;}
    .img-wrapper{width: 55%; padding-left: 5%; max-width: 700px;}
  }
  .accordion{
    width: 45%; max-width: 530px; padding-top: 25px;
    .active{
      margin-bottom: 16px;
      h3{font-weight: 700; color: #0061AF;}
    }
    .item{
      padding-bottom: 14px; margin-bottom: 16px;
      &__header{cursor: pointer;}
    }
    h3{margin-bottom: 6px; padding-bottom: 10px; color: #828282; background: url("#{$img-path}/line-3.svg") no-repeat bottom left; text-transform: uppercase;}
    p{letter-spacing: -1px;}
  }
  .slick-arrow{
    width: 56px; height: 56px;
    background: url("#{$img-path}/next.gif") no-repeat 0 0/contain;
    border-radius: 50%;
    font-size: 0;
    position: absolute; top: 50%; transform: translateY(-50%) rotate(-90deg);
  }
  .slick-next{right: -80px;}
  .slick-prev{left: -80px; transform: translateY(-50%) rotate(90deg);}
  .slick-dots{
    display: flex; width: 50%; position: absolute; bottom: 0;
    li{margin-right: 46px;}
    &::after{
      content: "";
      width: 100%; height: 1px;
      background: url("#{$img-path}/line-3.svg") no-repeat 0 0/100%;
      position: absolute; bottom: 0;
    }
    button{
      font-size: 32px; color: #BDBDBD;
      &::before{content: "0";}
      &::after{content: ".";}
    }
    .slick-active{
      button{
        font-weight: 700;
        background: linear-gradient(90deg, #0061AF 0%, #ED1C24 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
.news{
  padding: 80px 0 50px;
  background: url("#{$img-path}/bg-f3.jpg") no-repeat 50% 0/contain; overflow: hidden;
  .header{margin-bottom: 50px;}
  .news-list{
    margin-left: calc((100% - 1228px)/2);
    .item{margin: 0 15px; max-width: 600px; border: 1px solid rgba(0, 0, 0, 0.10);}
    .item:hover{
      .content{border-color: #ED1C24;}
      .time{font-weight: 700;}
      h3 a{color: #0061AF;}
    }
    .content{
      padding: 24px 30px 34px; background: #fff; border-top: 8px solid #BDBDBD; transition: .2s;
      h3{min-height: 64px; margin-bottom: 16px; line-height: 1.6;}
      h3 a{color: #333;}
    }
    .time{margin-bottom: 12px;}
  }
  .nav-news{
    margin-left: calc((100% - 1228px)/2);
    margin-top: 56px;
  }
  .progress {
    display: block;
    width: 100%; max-width: 640px;
    margin: 0 16px;
    height: 2px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f5f5f5;
    background-image: linear-gradient(to right, #0061AF , #ED1C24 );
    background-repeat: no-repeat;
    background-size: 0 100%;

    transition: background-size .4s ease-in-out;
  }
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  .pagingInfo{font-size: 14px;}
  .slick-arrow{
    width: 24px; height: 24px;
    background: url("#{$img-path}/next.svg") no-repeat 0 0/contain;
    font-size: 0;
  }
  .btn-prev{transform: rotate(180deg);}
  .btn-next{margin-left: 16px;}
  .box-view{
    margin-bottom: 30px;
    justify-content: flex-end;
    padding-right: 12.5%;
  }
  .view-all{
    line-height: 1; text-transform: uppercase; color: #333;
    span{display: block; border-bottom: 1px solid currentColor;}
    .icon{
      margin-left: 8px; width: 25px;
      height: 8px; display: inline-block; background: url("#{$img-path}/arrow-right-1.svg") no-repeat;
      filter: brightness(0); transition: .25s;
    }
    &:hover{
      color: #ED1C24;
      .icon{filter: brightness(1);}
    }
  }
}
.career{
  padding: 34px 0 42px;
  background: url("#{$img-path}/bg-f4.png") no-repeat 0 0/cover;
  .header{margin-bottom: 20px;}
  .career-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 13px;
    .item:nth-child(2){animation-delay: 0.2s;}
    .item:nth-child(3){animation-delay: 0.4s;}
    .item:hover{box-shadow: 0px 0px 15px 0px #000; transition: box-shadow .25s;}
    .content{background: #0061AF; padding: 44px 22px 25px; color: #fff;}
    h3{margin-bottom: 22px; text-transform: uppercase;}
    .icon-address{width: 18px; height: 19px; margin-right: 6px; background: url("#{$img-path}/icon-address-1.svg") no-repeat;}
  }
  .info-list{
    line-height: 30px; margin-bottom: 22px;
    >*+*{margin-top: 0;}
  }
  .view-more{
    color: #F2F2F2; text-transform: uppercase; line-height: 30px;
    &:hover::after{transform: translateX(6px);}
    &::after{
      content: "";
      width: 17px; height: 7px; display: inline-block;
      margin-left: 8px;
      background: url("#{$img-path}/arrow-right-2.svg") no-repeat;
      transition: .3s;
    }
    span{display: inline-block; line-height: 1; border-bottom: 1px solid currentColor;}
  }
}

//intro
.mobifone-intro{
  padding: 8% 0;
  background: url("#{$img-path}/bg-intro.jpg") no-repeat 50% 0/cover;
  overflow: hidden;
  h1{
    margin-bottom: 26px; padding-bottom: 20px;
    &::after{position: absolute; bottom: 0; left: 0;}
  }
  .des{max-width: 662px;}
}
.mobifone-vision{
  padding: 60px 0 110px;
  position: relative;
  &::after{
    content: "";
    width: 100%; height: 100%;
    background: url("#{$img-path}/eff-1.gif") no-repeat 0 0/cover;
    position: absolute; bottom: 0;
    transform: rotateX(180deg);
    left: 0; z-index: -1; opacity: 0.1;
  }
  h3{margin-bottom: 35px; font-size: 48px; text-transform: uppercase;}
  .img-wrapper{padding-left: 1%; margin-top: -285px;}
  .vision h3{color: #0061AF;}
  .mission h3{color: #ED1C24;}
  .icon{margin-right: 28px;}
  .icon-vision{width: 50px; height: 34px; background: url("#{$img-path}/icon-eye.svg") no-repeat 0 0/contain;}
  .icon-mission{width: 49px; height: 49px; background: url("#{$img-path}/icon-sm.svg") no-repeat 0 0/contain;}
}
.mobifone-product{
  padding: 80px 0 110px;
  .header{margin-bottom: 26px;}
  .product-slider{
    margin: 0 -24px;
    .img-product{width: 208px; margin-bottom: 15px;}
    .item{margin: 0 24px;}
    .content{padding: 20px; background: #fff; position: relative;}
    .number{font-size: 32px; font-weight: 700; position: absolute; right: 20px; top: 20px;}
    .icon{width: 67px; margin: 20px 0;}
    .des{letter-spacing: -0.8px;}
    .view-more{
      display: inline-block; margin-top: 54px; line-height: 1; color: #0061AF; border-bottom: 1px solid currentColor; text-transform: uppercase;
      &:hover{color: #ED1C24;}
    }
    .slick-arrow{
      width: 56px; height: 56px;
      background: url("#{$img-path}/next.gif") no-repeat 0 0/contain;
      border-radius: 50%;
      font-size: 0;
      position: absolute; top: 50%; transform: translateY(-50%) rotate(-90deg); left: -80px;
      &.slick-disabled{display: none !important;}
    }
    .slick-prev{transform: translateY(-50%) rotate(180deg);}
  }
}
.mobifone-value{
  padding: 68px 0 0;
  background: url("#{$img-path}/bg-gt.png") no-repeat 0 0/cover;
  .value-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    .item{position: relative;}
    >*+*::after{
      content: "";
      width: 1px; height: 252px;
      background: linear-gradient(90deg, #0061AF 0%, #ED1C24 100%);
      position: absolute; top: 12px; left: 0;
    }
  }
  .header{
    margin-bottom: 20px;
    h2.title{margin-bottom: 20px;}
    p{font-size: 24px;}
  }
  .number{
    margin: -10px 0 -15px;
    font-size: 128px; font-weight: 700; color: transparent;
    text-align: center;
    -webkit-text-stroke: 1px #0061AF;
  }
  .text{text-transform: uppercase; text-align: center}
  .gift{width: 200px; height: 200px; margin: 18px auto -100px;}
  .gift img{width: 100%; height: 100%; object-fit: cover; border-radius:50%;}
  .icon{width: 75px; display: block; margin: 0 auto}
}
.mobifone-organization{
  padding: 170px 0 106px;
  .header{margin-bottom: 85px;}
  .manager{width: 30%; margin: 0 0 0 41.2%;}
  .department,.branch-list{
    li{
      width: 128px; height: 154px;
      margin: 0 11px;
      display: flex; align-items: center; justify-content: center;
      border: 1px solid #0061AF; color: #0061AF; font-size: 20px; font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      &::before,&::after{
        content: ""; position: absolute; background: #0061AF;
      }
      &::before{height: 50px; width: 1px; top: -50px; margin-left: -1px;}
      &::after{
        width: 11px; height: 11px;
        border-radius: 50%;
        left: 50%; transform: translateX(-50%); top: -58px; z-index: 2;
      }
      &:nth-child(5){font-size: 16px;}
      &.branch{
        border-color: #ED1C24; color: #ED1C24;
        &::after,&::before{background: #ED1C24;}
      }
      span{padding: 0 14px;}
    }
  }
  .department{
    justify-content: center; width: 1040px; margin: 0 auto; padding-top: 46px; position: relative;
    &::after{
      content: "";
      width: 86%; height: 1px;
      background: linear-gradient(90deg, #0061AF 0%, #ED1C24 100%);
      position: absolute; top: -6px; left: 50%; transform: translateX(-50%);
    }
    li:last-child{margin-left: auto;}
  }
  .branch-list{
    justify-content: flex-end; margin: 100px 3.5% 0 0;
    &::after,&::before{content: ""; position: absolute;}
    &::before{
      width: 298px; height: 1px;
      background: #ED1C24;
      top: -53px; right: 5.5%;
    }
    &::after{
      width: 11px; height: 97px;
      background: url("#{$img-path}/line-4.svg") no-repeat 0 0/contain;
      top: -105px; right: 15.8%;
    }
  }
}
.mobifone-contact{
  padding: 104px 0; background: url("#{$img-path}/bg-contact.png") no-repeat 0 0/cover;
  &::before,&::after{content: ""; position: absolute;}
  &::after{
    width: 371px; height: 357px;
    background: url("#{$img-path}/round-1.svg") no-repeat 0 0/contain;
    right: 0; top: -200px;
  }
  &::before{
    width: 341px; height: 444px;
    background: url("#{$img-path}/round-2.svg") no-repeat 0 0/contain;
    left: 0; top: -20px;
  }
  .box-contact{
    padding: 35px 62px 35px 96px;
    border-radius: 0px 50px 50px 0px;
    border: 1px solid #0061AF;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
  }
  .header{
    margin-bottom: 18px;
    h2.title{
      margin-bottom: 12px;
      font-size: 36px;
      padding-bottom: 12px;
      background: linear-gradient(90deg, #0061AF 0%, #ED1C24 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
      &::after{
        content: "";
        width: 80px; height: 2px;
        background: url("#{$img-path}/line-3.svg") no-repeat 0 0/100% 100%;
        position: absolute; bottom: 0; left: 0;
      }
    }
    p{font-size: 19px;}
  }
  .map{width: 38%;}
  .content{width: 62%; padding: 1% 0 0 4%;}
  form{
    .form-row{
      justify-content: space-between; margin: 0;
      .form-group{width: calc(50% - 6px); margin-bottom: 16px;}
    }
    input{
      height: 63px; width: 100%;
      padding: 0 22px;
      border: 1px solid #D62B28;
      font-size: 20px;
      color: #333;
      &::placeholder{color: #BDBDBD;}
      &:focus{outline: none;}
    }
    textarea{
      width: 100%; height: 224px; padding: 14px 22px; border: 1px solid #D62B28; font-size: 20px;
      &::placeholder{color: #BDBDBD;}
      &:focus{outline: none;}
    }

  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
}
.mobifone-survey{
  padding: 68px 0 76px;
  &.sm{padding: 52px 0 36px;}
  h2.title{
    margin-bottom: 35px; font-size: 48px;
    &.block{
      font-size: 32px; margin-bottom: 22px;
      span{display: block;}
    }
  }
  .text{margin-top: 40px;}
  .img-wrapper{position: absolute; top: -67px; right: 263px; z-index: -1;}
}

@-webkit-keyframes rotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

//product
.mobifone-banner{
  background: url("#{$img-path}/bg-product.jpg") no-repeat 0 0/cover;
  .img-full{
    img{object-fit: cover; width: 100%;}
  }
  .content{width: 100%; height: 100%; padding: 70px 0 0; position: absolute; top: 0; left: 0;}
  h1{
    margin-bottom: 26px; text-align: center; padding-bottom: 20px;
    &::after{position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);}
  }
  .des{max-width: 692px; margin: 0 auto; text-align: center;}
}
.mobifone-service{
  padding: 138px 0 162px;
  background: url("#{$img-path}/bg-dokiem.png") no-repeat 0 0/cover;
  .tab{
    width: 100%; padding: 0 7%; position: absolute; top: -46px; flex-wrap: nowrap;
    li{width: 20%;}
    li:nth-child(2){animation-delay: .2s;}
    li:nth-child(3){animation-delay: .4s;}
    li:nth-child(4){animation-delay: .6s;}
    li:nth-child(5){animation-delay: .8s;}
    a{
      width: 90%; display: block;
      font-size: 20px; color: var(--blue); line-height: 27px;
      white-space: nowrap;
      position: relative;
    }
    a::after{
      content: "";
      width: 100%; height: 1px;
      background: url("#{$img-path}/line-3.svg") no-repeat 0 0/100% 100%;
      position: absolute; bottom: 0; left: 0;
    }
    .active{
      font-weight: 700;
      &::before{@include polygon; bottom: -40px; left: 0;}
    }
  }
  .tab-content{
    .content{padding-right: 20px;}
    .img-wrapper{padding-left: 20px;}
    .content,.img-wrapper{width: 50%;}
  }
}
.mobifone-product-slider{
  padding: 75px 0;
  .header{margin-bottom: 60px;}
  .product-slider{
    margin: 0 -7px;
    h3{min-height: 42px;}
    .item{margin: 0 7px; border: 1px solid #D9D9D9;}
    .content{padding: 32px 25px; min-height: 290px;}
    .des{letter-spacing: -0.8px;}
  }
  .slick-arrow{@include slick-arrow;}
  .slick-prev{left: -80px; transform: translateY(-50%) rotate(90deg);}
  .slick-next{right: -80px;}
}
.product-detail{
  padding-bottom: 36px; position: relative;
  &::after{
    content: "";
    width: 100%; height: 1px;
    background: linear-gradient(90deg, #0061AF 0%, #ED1C24 100%);
    position: absolute; bottom: 0;
  }
  .slider-img-product{width: 42%; max-width: 600px;}
  .slider-for{
    .item{
      img{width: 100%; height: 600px; object-fit: cover;}
    }
  }
  .slider-nav{
    margin: 12px -4px 0;
    .item{
      margin: 0 4px; height: 140px; border: 2px solid #fff; cursor: pointer;
      &.slick-current{border: 2px solid #A5A821;}
      img{width: 100%; height: 100%; object-fit: cover;}
    }
  }
  .nav-slider{
    justify-content: center; margin-top: 30px;
    button{
      margin: 0 15px; text-transform: uppercase; font-size: 14px; color: rgba(#000,.25);
      &:hover{
        color: #000;
        .icon{background: var(--blue) url("#{$img-path}/next-2.png") no-repeat center center;}
      }
    }
    .icon{width: 36px; height: 36px; background: rgba(#000,.1) url("#{$img-path}/next-2.png") no-repeat center center; border-radius: 50%;}
    .icon-prev{transform: rotate(180deg); margin-right: 18px;}
    .icon-next{margin-left: 18px;}
  }
  .info-product{
    width: 58%; padding-left: 36px;
    h1{margin-bottom: 12px; font-size: 32px; text-transform: uppercase;}
    .des{margin-bottom: 30px; letter-spacing: -1px; animation-delay: 0.2s;}
  }
  .rating{
    margin-bottom: 22px; width: 100px; height: 20px;
    .value{height: 100%; background: url("#{$img-path}/star.svg") repeat-x;}
  }
  .btn-contact{
    width: 140px; height: 41px;
    border: 1px solid #F2F2F2;
    background: linear-gradient(90deg, #0061AF 0%, #ED1C24 100%);
    font-size: 14px; color: #fff;
    text-transform: uppercase;
    animation-delay: 0.4s;
    .icon{width: 18px; height: 18px; background: url("#{$img-path}/icon-phone-3.svg") no-repeat; margin-left: 15px;}
    &:hover{@include hover;}
  }
}
.back{padding: 40px 0;}

//recruitment
.mobifone-recruitment{
  padding: 70px 0 0; min-height: vw(800px);
  background: url("#{$img-path}/bg-td.jpg") no-repeat 0 0/cover;
  h1{
    margin-bottom: 26px; text-align: center; padding-bottom: 20px;
    &::after{position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);}
  }
  .des{max-width: 692px; margin: 0 auto; text-align: center;}
}
.mobifone-career{
  padding: 74px 0;
  background: url("#{$img-path}/bg-f4.png") no-repeat 0 0/cover; overflow: hidden;
  .header{margin-bottom: 10px;}
  .position-list{
    margin: 0 -6px;
    .item{margin: 10px 6px;}
    .item:hover{box-shadow: 0px 0px 10px 0px rgba(#000,.5); transition: box-shadow .25s;}
    .content{background: #0061AF; padding: 44px 22px 25px; color: #fff;}
    h3{margin-bottom: 22px; text-transform: uppercase;}
    .icon-address{width: 18px; height: 19px; margin-right: 6px; background: url("#{$img-path}/icon-address-1.svg") no-repeat;}
  }
  .img-thumb img{width: 100%;}
  .info-list {
    > *+* {margin-top: 0;}
  }
  .info-list{line-height: 30px; margin-bottom: 22px;}
  .view-more{
    color: #F2F2F2; text-transform: uppercase; line-height: 30px;
    &:hover::after{transform: translateX(6px);}
    &::after{
      content: "";
      width: 17px; height: 7px; display: inline-block;
      margin-left: 8px;
      background: url("#{$img-path}/arrow-right-2.svg") no-repeat;
      transition: .3s;
    }
    span{display: inline-block; line-height: 1; border-bottom: 1px solid currentColor;}
  }
  .slick-arrow{@include slick-arrow;}
  .slick-next{right: -80px;}
  .slick-prev{left: -80px; transform: translateY(-50px) rotate(90deg);}
}
.mobifone-position{
  padding: 70px 0;
  .header{margin-bottom: 30px;}
  .box-search{
    margin-bottom: 40px;
    form{
      justify-content: space-between;
      .box-select{margin: 6px 0;}
    }
  }
  .box-select{
    width: 19.5%; padding: 1px; background: linear-gradient(90deg, #0061AF 0%, #ED1C24 100%);
    select,input{
      width: 100%; height: 38px; padding: 0 18px; border: none; background: #fff;
      &:focus{outline: none;}
    }
    input{}
  }
  .box-table{width: 100%; overflow: auto;}
  table{
    width: 100%; border: 1px solid #E0E0E0;
    th,td{text-align: center; border-right: 1px solid #E0E0E0;}
    th{padding: 22px 10px; background: var(--blue); color: #F2F2F2; font-size: 14px; font-weight: 700;}
    tr td:first-child{font-weight: 700; font-size: 14px;}
    td{padding: 10px;}
    tbody tr:nth-child(even) td{background: rgba(#0061AF,.1);}
  }
}
.mobifone-benefit{
  padding: 100px 0 150px; background: url("#{$img-path}/bg-recruitment.jpg") no-repeat 0 0/cover;
  .header{margin-bottom: 44px;}
  .benefit-list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 22px;
    .item{
      background: #828282; padding: 1px; position: relative; transition: .25s;
      &:hover{
        background: linear-gradient(90deg, #0061AF 0%, #ED1C24 100%); box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        h3{color: var(--blue);}
      }
      .content{padding: 30px 22px; background: #fff; height: 100%;}
      .icon{width: 100px; display: block; margin: 0 auto 16px;}
      h3{
        min-height: 70px; margin-bottom: 12px;
        display: flex; align-items: center; justify-content: center; text-align: center;
        color: #828282;
        line-height: 1.1;
      }
    }
    .item:nth-child(2){animation-delay: 0.2s;}
    .item:nth-child(3){animation-delay: 0.4s;}
    .item:nth-child(4){animation-delay: 0.6s;}
    .item:nth-child(5){animation-delay: 0.8s;}
  }
}
.mobifone-job{
  h1.title{margin-bottom: 20px; font-size: 32px;}
  .job-info{
    padding-bottom: 36px; margin-bottom: 36px;
    &::after{@include line;}
    li{width: 50%; display: flex; align-items: center; margin-bottom: 10px;}
    .icon{width: 27px; height: 27px; margin-right: 5px;}
    .icon-address{background: url("#{$img-path}/icon-td-1.svg") no-repeat;}
    .icon-company{background: url("#{$img-path}/icon-td-2.svg") no-repeat;}
    .icon-time{background: url("#{$img-path}/icon-td-3.svg") no-repeat;}
    .icon-salary{background: url("#{$img-path}/icon-td-4.svg") no-repeat;}
    span{display: block; line-height: 1.4; color: #142740; flex: 1;}
  }
  .job-detail{
    margin-bottom: 46px;
    h4{margin-bottom: 24px; color: var(--blue);}
    p{padding-left: 24px; color: #142740; position: relative;}
    p::before{
      content: "";
      width: 2px; height: 2px;
      background: #142740; border-radius: 50%;
      position: absolute; left: 10px; top: 9px;
    }
  }
  .box-cv{
    margin-top: 100px; padding-left: 80px;
    .img{margin-left: 40px;}
  }
  .box-info{
    margin-top: 26px; padding-left: 80px; position: relative;
    h4{margin-bottom: 15px; color: #142740; font-size: 16px; font-weight: 400;}
  }
  .btn-map{
    width: 137px; height: 139px; display: block;
    background: url("#{$img-path}/map.jpg") no-repeat 0 0/contain;
    font-size: 0;
    position: absolute; right: 0; top: 80px; transition: .3s;
    &:hover{transform: scale(1.1);}
  }
}
.info-list{
  >*+*{margin-top: 26px;}
  .icon{margin: 3px 7px 0 0;}
  span{color: #0061AF; letter-spacing: -1px; font-size: 20px; flex: 1;}
  a{color: #0061AF;}
  .icon-address{width: 18px; height: 19px; margin-top: 2px; background: url("#{$img-path}/icon-address.svg") no-repeat 0 0/contain;}
  .icon-phone{width: 18px; height: 18px; background: url("#{$img-path}/icon-phone-2.svg") no-repeat 0 0/contain;}
  .icon-email{width: 18px; height: 15px; margin-top: 5px; background: url("#{$img-path}/icon-email.svg") no-repeat 0 0/contain;}
}

//news
.mobifone-news{
  padding: 70px 0;
  &::after{@include line;}
  .header{margin-bottom: 30px;}
  .news-list{
    margin: 0 -16px;
    .thumb{
      display: block; margin-bottom: 20px; height: 542px; padding: 1px;
      img{height: 100%; width: 100%; object-fit: cover;}
    }
    .slick-track{max-height: 702px; overflow: hidden;}
    .slick-current{width: 734px !important;}
    .item{padding: 0 16px; transition: .25s;}
    .item:hover{
      .thumb{box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15); background: linear-gradient(90deg, #0061AF 0%, #ED1C24 100%);}
      h3 a{color: var(--blue);}
    }
    h3{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      margin-bottom: 16px; font-weight: 700; font-size: 18px;

    }
    h3,p{width: 100%; overflow: hidden;}
    h3 a {color: #828282;}
    p{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      min-height: 80px;
      font-size: 14px; color: #828282;
    }
  }
  .slick-arrow{@include slick-arrow; z-index: 9;}
  .slick-next{right: -70px;}
  .slick-prev{left: -70px; transform: translateY(-50%) rotate(90deg);}
}
.mobifone-private{
  padding: 46px 0;
  .btn-pr{margin: 48px 0;}
}
.mobifone-news-detail{
  padding-bottom: 80px; position: relative;
  &::after{
    content: "";
    width: 80%; height: 2px;
    background: linear-gradient(90deg, rgba(224, 190, 136, 0.00) 0%, #A78754 53.13%, rgba(117, 86, 39, 0.00) 100%);
    position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);
  }
  .top{padding: 32px 0; justify-content: space-between;}
  .title{margin: 0 auto 30px; max-width: 1138px; font-size: 32px; text-align: center;}
  article{font-size: 20px;}
  .share{
    margin-top: 40px;
    .social{
      a{display: block; margin-left: 21px; font-size: 0;}
      .facebook{width: 11px; height: 22px; background: url("#{$img-path}/fb.svg") no-repeat;}
      .twitter{width: 18px; height: 16px; background: url("#{$img-path}/twitter.svg") no-repeat;}
      .linkedin{width: 13px; height: 14px; background: url("#{$img-path}/in.svg") no-repeat;}
      .google{width: 16px; height: 14px; background: url("#{$img-path}/google.svg") no-repeat;}
    }
  }
}
.mobifone-policy{
  padding-bottom: 60px;
  h1.title{margin-top: -80px; font-size: 36px; text-transform: uppercase;}
  article{
    margin-top: 50px; font-size: 20px;
    h4{margin-bottom: 20px; font-size: 20px; font-weight: 700;}
  }
}
.box-survey{
  padding: 40px 0; justify-content: space-between;
  .img-wrapper img{margin: 0 auto; max-width: 340px;}
  h1{margin-bottom: 35px;}
  p{margin-top: 40px;}
}

//footer
footer{
  padding: 57px 0 45px;
  background: url("#{$img-path}/bg-footer.png") no-repeat 0 0/cover;
  position: relative;
  &::after{
    content: "";
    width: 100%; height: 100%;
    background: url("#{$img-path}/eff-2.gif") no-repeat 0 0/cover;
    position: absolute; left: 0; top: 0; z-index: -1; opacity: .2;
  }
  .top{
    margin-bottom: 66px;
    .logo{width: 330px; display: block; margin: 0 auto 22px;}
    h4{margin: 0 auto; max-width: 671px; text-transform: uppercase; text-align: center; line-height: 30px;}
  }
  .box-info{width: 50%; max-width: 718px;}
  .des{margin-bottom: 26px; letter-spacing: -1px; color: #333;}
  .info-list{
    padding-bottom: 22px; margin-bottom: 22px; position: relative;
    &::after{
      content: "";
      width: 100%; height: 1px;
      background: url("#{$img-path}/line.svg");
      position: absolute; bottom: 0;
    }

  }
  .business-code{margin-bottom: 26px; letter-spacing: -1px;}
  .bocongthuong{
    width: 270px; height: 102px;
    background: url("#{$img-path}/bocongthuong.png") no-repeat 0 0/contain;
    font-size: 0;
  }
  .social{
    margin-left: auto;
    >*+*{margin-left: 33px;}
    a{width: 48px; height: 39px; font-size: 0;}
    a:hover{@include hover;}
    .facebook{background: url("#{$img-path}/fb.png") no-repeat 0 0/contain;}
    .youtube{background: url("#{$img-path}/yt.png") no-repeat 0 0/contain;}
    .gmail{background: url("#{$img-path}/gmail.png") no-repeat 0 0/contain;}
    .zalo{background: url("#{$img-path}/zalo.png") no-repeat 0 0/contain;}
  }
  .box-map{
    width: 45%; height: 600px; margin-left: auto;
    iframe{width: 100%; height: 100%; object-fit: cover;}
  }
  .copyright{
    margin-top: 56px;
    a{color: #0061AF; margin-left: 10px; border-bottom: 1px solid currentColor; line-height: 1;}
  }
}

//uikit
.icon{display: inline-block;}
.pr{position: relative;}
button{
  padding: 0; border: none; background: none; cursor: pointer;
  &:focus{outline: none}
}
.txt-2xl{font-size: 32px;}
.txt-xl{font-size: 24px;}
.txt-lg{font-size: 20px;}
.txt-md{font-size: 18px;}
.txt-xs{font-size: 10px;}

.fw-b{font-weight: 700;}
.fw-sm{font-weight: 600;}

.mb-md{margin-bottom: 20px;}

.btn-pr{
  display: inline-block; padding: 1px;
  background: #fff;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  transition: background .2s;
  position: relative;
  span{padding: 10px 37px; display: block; background: linear-gradient(90deg, #0061AF 0%, #ED1C24 100%); position: relative; z-index: 2; }
  &::after{
    content: "";
    width: calc(100% - 2px); height: calc(100% - 2px);
    background: #fff;
    position: absolute; top: 1px; left: 1px; transition: .3s;
  }
  &:hover{
    background: linear-gradient(90deg, #0061AF 0%, #ED1C24 100%);
    span{
      background: linear-gradient(90deg, #0061AF 0%, #ED1C24 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.bg-gr{
  padding: 1px; background: linear-gradient(90deg, #0061AF 0%, #ED1C24 100%);
}
.bd-gr{
  padding: 1px; position: relative;
  &:hover::after{background: linear-gradient(90deg, #0061AF 0%, #ED1C24 100%);}
  &::after{
    content: "";
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0; z-index: -1;
  }
}

h1.title{
  font-size: 48px; font-weight: 700; color: #0061AF; position: relative;
  &::after{
    content: "";
    width: 80px; height: 2px;
    background: url("#{$img-path}/line-3.svg") no-repeat 0 0/100% 100%;
  }
  span{color: #ED1C24;}
}
h2.title{
  font-weight: 700; font-size: 32px; color: #0061AF;
  text-transform: uppercase;
  &.lg{
    padding-bottom: 8px; font-size: 48px; position: relative;
    &::after{
      content: "";
      width: 80px; height: 2px;
      background: url("#{$img-path}/line-3.svg") no-repeat 0 0/100% 100%;
      position: absolute; bottom: 0; left: 0;
    }
  }
  span{color: #ED1C24;}
}
.header{
  h2.title{margin-bottom: 2px;}
}
.btn-survey{
  padding: 13px 15px;
  background: #0061AF;
  font-size: 12px; color: #fff;
  text-transform: uppercase;
  position: absolute; top: 0; right: -72px; transition: .3s;
  .icon{width: 15px; height: 19px; display: block; margin-right: 14px; background: url("#{$img-path}/icon-ks.svg") no-repeat;}
  &:hover{right: 0; color: #fff;}
}

@media (min-width: 1440px){
  .container{max-width: 1470px;}
}
@media (max-width: 1440px) {
  .container{max-width: 1240px;}
  .navbar{
    padding: 18px 0;
    .phone,.form-search{margin-left: 40px;}
    .box-logo{
      .logo{margin-bottom: 0;}
      span{display: none;}
    }
  }
  .navbar-nav{
    margin-left: 40px;
    >*+*{margin-left: 30px;}
  }
  .operation{
    .tab{
      li{width: 176px;}
      .icon{width: 76px;}
    }
    .tab-pane{padding: 16px;}
    .content{
      padding: 15px;
      h3{margin-bottom: 20px;}
    }
  }
  .service{
    .service-list{
      margin: 0 -30px;
      .item{padding: 0 30px;}
      h3{width: calc(100% - 50px);}
    }
    .img-mask{
      max-height: 130px; width: 65%;
      img{max-height: 100%;}
    }
    .icon{width: 50px;}
  }
  .product{
    .slick-dots{
      button{font-size: 28px;}
    }
    .slick-arrow{width: 46px; height: 46px;}
    .slick-next{right: -60px;}
    .slick-prev{left: -60px;}
  }
  .news{
    .news-list{
      .content{
        h3{min-height: 58px;}
      }
    }
  }

  //category
  .mobifone-intro{
    .des{max-width: 49%;}
  }
  .mobifone-vision{
    h3{margin-bottom: 25px; font-size: 40px;}
    .img-wrapper{margin-top: -185px;}
  }
  .mobifone-survey{
    .img-wrapper{right: 140px;}
  }
  .mobifone-contact{
    .map{width: 44%;}
    .content{width: 56%; padding-left: 2%;}
    &::before{width: 241px; height: 344px; left: -100px; top: 0;}
    &::after{width: 260px; height: 256px; top: -100px;}
  }
  .mobifone-value{
    .number{font-size: 120px;}
    .gift{width: 160px; height: 160px; margin-bottom: -80px;}
  }
  .mobifone-product-slider{
    .slick-prev{left: -55px;}
    .slick-next{right: -55px;}
  }
  .mobifone-service{
    .tab{
      padding: 0 4%;
      a{width: 96%;}
    }
  }
  .mobifone-position{
    .box-select{width: 19%;}
  }
  .mobifone-career,.mobifone-news{
    .slick-arrow{width: 46px; height: 46px;}
    .slick-next{right: -50px;}
    .slick-prev{left: -50px;}
  }
  .mobifone-job{
    .box-cv,.box-info{padding-left: 0;}
  }
  .mobifone-news{
    .news-list{
      .slick-track{max-height: 560px;}
      .slick-current{width: 620px !important;}
      .thumb{height: 400px;}
    }
  }
  .mobifone-private{
    .btn-pr{margin: 26px 0;}
  }
  .mobifone-product{
    .product-slider{
      .item{margin: 0 15px;}
      .img-product{width: 70%;}
    }
  }
  .mobifone-organization{
    .branch-list{
      margin: 80px -5% 0 0;
      &::before{right: 6.3%; top: -43px;}
      &:after{right: 17.3%; width: 10px; height: 88px; top: -85px;}
    }
    .manager{margin-left: 44%; width: 25%;}
    .department{padding-top: 36px;}
    .department,.branch-list{
      li{height: 134px; font-size: 18px;}
      li::before{height: 40px; top: -40px;}
      li::after{top: -48px;}
    }
  }

  footer{
    .social{
      >*+*{margin-left: 20px;}
    }
  }

  .txt-2xl{font-size: 28px;}
  .txt-xl{font-size: 20px;}
  .txt-lg{font-size: 18px;}
}

@media (max-width: 1280px) {
  .navbar{
    .phone,.form-search{margin-left: 30px;}
  }
  .navbar-nav{
    >*+*{margin-left: 20px;}
  }
  .mobifone-organization{
    .manager{margin-left: 48%;}
    .department{
      width: 900px;
      &::after{width: 83%;}
    }
    .branch-list{
      margin-right: 0;
      &:after{right: 220px;}
    }
  }
  .mobifone-service{
    .tab{padding: 0 1%;}
  }
  .mobifone-product-slider,.mobifone-news{
    padding-bottom: 100px;
    .slick-arrow{width: 46px; height: 46px; top: inherit; bottom: -65px; transform: translateY(0) rotate(-90deg); z-index: 2;}
    .slick-next{right: calc(50% - 56px);}
    .slick-prev{left: calc(50% - 56px); transform: translateY(0) rotate(90deg);}
  }
}

@media (max-width: 1024px) {
  header{
    .form-search{margin-left: auto; z-index: 2;}
  }
  .navbar{
    width: 100%; padding: 13px 15px; justify-content: flex-start;
    .phone{margin-left: 0;}
    .form-search{
      margin: 30px 0 0;
      input{right: inherit; left: 30px; top: -12px;}
    }
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    align-items: flex-start;
    position: fixed; top: 46px; left: -100%;
    width: 100%; height: 100%;
    padding: 18px 16px;
    background: #fff;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.show{left: 0;}
  }
  .navbar-toggler{
    display: block !important;
    width: 16px;
    height: 14px;
    padding: 0;
    background: none; border: none;
    position: absolute; right: 15px;
    span{
      display: block; width: 16px; height: 2px; border-radius: 2px;
      background: #000; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 16px; height: 2px; background: #000; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggler.active{
    span{width: 16px; transform: rotate(45deg);}
    span:after{width: 16px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    flex-direction: column;
    margin: 25px 0;
    >*+*{margin: 22px 0 0;}
    li{width: 100%; display: flex; align-items: center;}
    a{text-align: center; font-size: 16px;}
  }

  main{padding-top: 46px;}
  .banner{
    &__img img{min-height: 460px;}
    video{min-height: 100vw;}
  }
  .operation{
    .tab{
      li{width: 16%; margin: 0 .3%;}
    }
    .content{padding: 0 0 30px;}
  }
  .service{
    .service-list{grid-template-columns: repeat(3,1fr); grid-row-gap: 30px;}
  }
  .product{
    .slick-dots{width: 100%; bottom: -50px;}
  }
  .news{
    .news-list{
      margin-left: 5%;
      .item{margin: 0 5px;}
    }
    .nav-news{margin-left: 5%;}
    .progress{width: 40%;}
  }

  .mobifone-vision{
    h3{font-size: 36px;}
    .icon{margin-right: 16px;}
    .icon-vision{width: 40px; height: 27px;}
    .icon-mission{width: 39px; height: 39px;}
  }
  .mobifone-product{
    .product-slider{
      margin: 0 -10px;
      .item{margin: 0 10px;}
      .content{padding: 15px;}
      .img-product{width: 78%;}
      .number{right: 15px; top: 15px; font-size: 24px;}
      .slick-arrow{width: 46px; height: 46px; top: inherit; bottom: -65px; transform: translateY(0) rotate(-90deg); z-index: 2;}
      .slick-next{right: calc(50% - 56px); left: inherit;}
      .slick-prev{left: calc(50% - 56px); transform: translateY(0) rotate(90deg);}
      .view-more{margin-top: 24px;}
    }
  }
  .mobifone-value{
    .number{font-size: 110px;}
    .gift{width: 140px; height: 140px; margin-bottom: -70px;}
  }
  .mobifone-organization{
    .manager{margin-left: 45%; width: 30%;}
    .department{
      width: 100%; max-width: 854px;
      &::after{width: 84%;}
      li{margin-bottom: 51px; width: 124px;}
      li:last-child{margin: 0 auto;}
      li::after{width: 8px; height: 8px;}
    }
    .branch-list{
      justify-content: center;
      &::before{left: 50%; right: inherit; transform: translateX(-50%);}
      &::after{left: 49.95%; right: inherit; transform: translateX(-50%);}
    }
  }
  .mobifone-survey{
    h2.title{font-size: 44px;}
    .img-wrapper{right: 0;}
  }
  .mobifone-contact{
    .envio_cv{max-width: 50%;}
    form .form-row .form-group{width: 100%;}
  }
  .mobifone-service{
    .tab{
      padding: 10px 0;  overflow-x: auto;
      .active::before{display: none;}
      li{width: auto; padding: 0 5px;}
    }
  }
  .mobifone-banner{
    .img-full img{height: 600px;}
    .h-auto img{height: auto;}
  }
  .mobifone-product-slider{
    .product-slider .content{padding: 24px 15px; min-height: auto;}
  }
  .mobifone-career{
    .position-list{
      .content{padding: 24px 15px;}
    }
    .slick-arrow{width: 46px; height: 46px; top: inherit; bottom: -55px; transform: translateY(0) rotate(-90deg); z-index: 2;}
    .slick-next{right: calc(50% - 56px);}
    .slick-prev{left: calc(50% - 56px); transform: translateY(0) rotate(90deg);}
  }
  .mobifone-news{
    .news-list{
      margin: 0 -6px; padding-bottom: 20px;
      .item{padding: 0 6px;}
      .slick-current{width: 400px !important;}
      .thumb{height: 300px;}
    }
  }
  .mobifone-job{
    .btn-map{position: relative; top: 0}
  }


  footer{
    .social{
      >*+*{margin-left: 10px;}
      a{width: 36px; height: 27px;}
    }
  }

  h1.title{font-size: 44px;}
  h2.title{
    &.lg{font-size: 44px;}
  }
  .txt-xl{font-size: 18px;}
  .txt-2xl{font-size: 26px;}
}
@media (max-width: 820px) {
  .info-list{
    span{font-size: 18px;}
  }
  .news{
    background: none; position: relative;
    &::after{
      content: "";
      width: 100%; height: 50%;
      background: url("#{$img-path}/bg-f3.jpg") no-repeat 50% 0/cover;
      position: absolute; top: 0; z-index: -1;
    }
  }

  .mobifone-survey{
    .img-wrapper{display: none;}
  }
  .mobifone-service{padding: 60px 0;}
  .mobifone-benefit{
    padding: 60px 0;
    .benefit-list{grid-template-columns: repeat(3,1fr); grid-gap: 10px;}
  }
  .product-detail{
    .slider-img-product{width: 100%; margin: 0 auto 30px;}
    .info-product{width: 100%; padding: 0;}
    .slider-for{
      .item img{height: 90vw;}
    }
    .slider-nav .item{height: 22vw;}
  }
  .mobifone-policy{
    h1.title{margin-top: 0; font-size: 30px;}
    article{margin-top: 30px; font-size: 18px;}
  }
  .mobifone-organization{
    .department::after{width: 78%;}
  }
  .box-survey{
    >div{width: 100%;}
    h1{margin-bottom: 25px;}
    p{margin-top: 30px;}
  }

  footer{
    .top{
      .logo{width: 300px;}
    }
    .bocongthuong{width: 170px; height: 65px;}
    .social > *+*{margin-left: 5px;}
  }
}
@media (max-width: 767px) {
  .operation{
    .content{margin-top: 30px; height: auto;}
  }
  .service{padding: 60px 0;}
  .product{
    padding: 60px 0 100px;
    .accordion{width: 100%; max-width: 100%;}
    .product-list{
      .img-wrapper{
        width: 100%; padding-left: 0; max-width: 100%;
        img{margin: 0 auto;}
      }
      .slick-slide{flex-wrap: wrap; flex-direction: column-reverse;}
    }
  }
  .career{
    .career-list{
      grid-gap: 10px;
      .content{padding: 30px 15px 15px;}
    }
  }
  .news{padding: 60px 0;}

  .mobifone-vision{
    padding: 60px 0;
    .img-wrapper{margin-top: 30px;}
  }
  .mobifone-product{padding: 60px 0 100px;}
  .mobifone-value{
    padding: 60px 0;
    .header p{font-size: 20px;}
    .value-list{
      grid-template-columns: repeat(2,1fr); grid-row-gap: 30px;
      .item:nth-child(odd)::after{display: none;}
      .gift{margin-bottom: 0;}
    }
  }
  .mobifone-organization{
    padding: 60px 0;
    .header{margin-bottom: 45px;}
    .department,.branch-list{
      li{width: 18%; margin: 0 1% 51px; font-size: 18px;}
    }
  }
  .mobifone-contact{
    padding: 60px 0;
    &::before{display: none;}
    .box-contact{padding: 20px 15px; flex-direction: column-reverse;}
    .map,.content{width: 100%;}
    .map{
      margin-top: 30px;
      img{margin: 0 auto;}
    }
  }
  .mobifone-survey{
    padding: 60px 0;
    h2.title{font-size: 40px;}
  }
  .mobifone-product-slider{
    padding: 60px 0 100px;
    .header{margin-bottom: 40px;}
  }
  .mobifone-career{padding: 60px 0 80px;}
  .mobifone-position{
    padding: 60px 0;
    .box-select{
      width: 49%;
      select,input{padding: 0 10px;}
    }
    table{min-width: 600px;}
  }
  .mobifone-news{
    padding: 60px 0 100px;
  }
  .mobifone-job{
    .box-cv{margin-top: 20px;}
    .box-info{margin-bottom: 30px;}
  }


  footer{
    .top{margin-bottom: 36px;}
    .box-info,.box-map{width: 100%;}
    .box-map{margin-top: 30px; height: 300px;}
    .copyright{margin-top: 36px;}
  }

  h1.title{font-size: 40px;}
  h2.title{
    &.lg{font-size: 40px;}
  }
}

@media (max-width: 640px) {
  body{font-size: 15px;}
  @mixin slick-arrow{width: 46px; height: 46px;}
  .banner{
    video{min-height: 65vh;}
    h1{margin-bottom: 10px; font-size: 20px;}
    h1 span{font-size: 30px;}
    .btn-scroll{
      width: 32px; height: 45px;
      &::after{height: 45px;}
    }
  }
  .operation{
    .tab{
      li{width: 31%; margin: 1%;}
      .icon{width: 60px;}
      .tab-active::after{display: none;}
    }
  }
  .service{
    .img-mask{max-height: 90px;}
    .service-list{
      grid-template-columns: repeat(2,1fr); margin: 0 -15px;
      .item{padding: 0 15px;}
    }
  }
  .career{
    .career-list{grid-template-columns: repeat(1,1fr);}
    .img-thumb{
      img{width: 100%;}
    }
  }
  .news{
    .news-list{
      margin-left: 0;
      .content{padding: 24px 16px;}
    }
    .nav-news{margin-top: 36px;}
  }

  .mobifone-intro{
    padding: 40px 0;
    .des{max-width: 95%;}
  }
  .mobifone-vision{
    h3{font-size: 32px;}
  }

  .mobifone-value{
    .number{font-size: 90px;}
    .icon{width: 65px;}
    .gift{width: 120px; height: 120px;}
  }
  .mobifone-organization{
    .manager{width: 60%; margin-left: 20%;}
    .department{padding-top: 36px;}
    .department::after{width: 50%; top: -4px; left: 50%;}
    .department,.branch-list{
      li{width: 40%; margin-left: 5%; margin-right: 5%; margin-bottom: 39px; font-size: 16px;}
      li::after{width: 5px; height: 5px; top: -43px;}
    }
    .branch-list{
      margin-top: 51px;
      &::before{width: 64%; top: -40px;}
      &::after{left: 74%; width: 6px; top: -93px;}
      li{width: 28%; margin: 0 2%;}
    }
  }
  .mobifone-survey{
    h2.title{
      font-size: 34px;
      &.block{font-size: 28px;}
    }
  }
  .mobifone-contact{
    &::after{display: none;}
    .header p{font-size: 16px;}
    form{
      input{height: 56px; padding: 0 14px; border-radius: 4px; font-size: 16px;}
      textarea{height: 180px; padding: 14px; font-size: 16px;}
    }
  }
  .mobifone-service{
    .tab a{font-size: 18px;}
    .tab-content{
      .content,.img-wrapper{width: 100%; padding: 0;}
      .img-wrapper{margin-top: 30px;}
    }
  }
  .mobifone-banner{
    .content{padding-top: 55px;}
    h1{padding-bottom: 16px;}
  }
  .mobifone-benefit{
    .header{margin-bottom: 30px;}
    .benefit-list{
      grid-template-columns: repeat(2,1fr);
      .item{
        .icon{width: 80px;}
        .icon,h3{margin-bottom: 6px;}
        .content{padding: 20px 12px;}
      }
    }
  }
  .mobifone-job{
    h1.title{font-size: 28px;}
  }
  .mobifone-news-detail{
    .title{font-size: 26px;}
    article{font-size: 17px;}
  }
  .mobifone-news{
    .news-list{
      .slick-current{width: 300px !important;}
    }
  }


  footer{
    padding: 40px 0 20px;
    .top{
      margin-bottom: 26px;
      .logo{width: 220px;}
      h4{line-height: 1.4;}
    }
  }

  .info-list{
    span{font-size: 16px;}
  }
  .txt-2xl{font-size: 22px;}
  .txt-xl{font-size: 17px;}
  .txt-lg{font-size: 16px;}
  h1.title{font-size: 32px;}
  h2.title{
    &.lg{font-size: 34px;}
  }
  h2.title{font-size: 28px;}
}

//js animation
.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
